{%- if settings.social_facebook_link != blank or settings.social_twitter_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank -%}
  <div class="social-sharing-wrapper">
    {%- if settings.social_facebook_link != blank -%}
      <a class="facebook" rel="noopener" href = "{{settings.social_facebook_link }}">
        <i class="custom-icon-facebook"></i >
      </a>
    {%- endif -%}

    {%- if settings.social_twitter_link != blank -%}
      <a class="twitter" rel="noopener" href = "{{ settings.social_twitter_link }}">
        <i class="custom-icon-twitter"></i>
      </a>
    {%- endif -%}

    {%- if settings.social_pinterest_link != blank -%}
      <a class="pinterest" rel="noopener" href = "{{settings.social_pinterest_link }}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="47" height="47" x="0" y="0" viewBox="0 0 511.977 511.977" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g>
        <g xmlns="http://www.w3.org/2000/svg">
            <g>
              <path d="M262.948,0C122.628,0,48.004,89.92,48.004,187.968c0,45.472,25.408,102.176,66.08,120.16    c6.176,2.784,9.536,1.6,10.912-4.128c1.216-4.352,6.56-25.312,9.152-35.2c0.8-3.168,0.384-5.92-2.176-8.896    c-13.504-15.616-24.224-44.064-24.224-70.752c0-68.384,54.368-134.784,146.88-134.784c80,0,135.968,51.968,135.968,126.304    c0,84-44.448,142.112-102.208,142.112c-31.968,0-55.776-25.088-48.224-56.128c9.12-36.96,27.008-76.704,27.008-103.36    c0-23.904-13.504-43.68-41.088-43.68c-32.544,0-58.944,32.224-58.944,75.488c0,27.488,9.728,46.048,9.728,46.048    S144.676,371.2,138.692,395.488c-10.112,41.12,1.376,107.712,2.368,113.44c0.608,3.168,4.16,4.16,6.144,1.568    c3.168-4.16,42.08-59.68,52.992-99.808c3.968-14.624,20.256-73.92,20.256-73.92c10.72,19.36,41.664,35.584,74.624,35.584    c98.048,0,168.896-86.176,168.896-193.12C463.62,76.704,375.876,0,262.948,0z" fill="#ffffff" data-original="#000000" style="" class=""/></g>
            </g>
          </g>
        </svg>
<!--         <img src="https://cdn.shopify.com/s/files/1/0435/6440/0793/files/pinterest.png?v=1632120831"> -->
<!--         <i class="custom-icon-pinterest"></i> -->
<!--         <i class="fa fa-pinterest"></i> -->
      </a>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <a class="tiktok" rel="noopener" href = "{{settings.social_tiktok_link }}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="47" height="47" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m480.32 128.39c-29.22 0-56.18-9.68-77.83-26.01-24.83-18.72-42.67-46.18-48.97-77.83-1.56-7.82-2.4-15.89-2.48-24.16h-83.47v228.08l-.1 124.93c0 33.4-21.75 61.72-51.9 71.68-8.75 2.89-18.2 4.26-28.04 3.72-12.56-.69-24.33-4.48-34.56-10.6-21.77-13.02-36.53-36.64-36.93-63.66-.63-42.23 33.51-76.66 75.71-76.66 8.33 0 16.33 1.36 23.82 3.83v-62.34-22.41c-7.9-1.17-15.94-1.78-24.07-1.78-46.19 0-89.39 19.2-120.27 53.79-23.34 26.14-37.34 59.49-39.5 94.46-2.83 45.94 13.98 89.61 46.58 121.83 4.79 4.73 9.82 9.12 15.08 13.17 27.95 21.51 62.12 33.17 98.11 33.17 8.13 0 16.17-.6 24.07-1.77 33.62-4.98 64.64-20.37 89.12-44.57 30.08-29.73 46.7-69.2 46.88-111.21l-.43-186.56c14.35 11.07 30.04 20.23 46.88 27.34 26.19 11.05 53.96 16.65 82.54 16.64v-60.61-22.49c.02.02-.22.02-.24.02z" fill="#ffffff" data-original="#000000" style=""/></g></g></svg>
      </a>
    {%- endif -%}

    {%- if settings.social_instagram_link != blank -%}
      <a class="instagram" rel="noopener" href = "{{ settings.social_instagram_link }}">
        <i class="custom-icon-instagram"></i>
      </a>
    {%- endif -%}
  </div>
{%- endif -%}