{%- comment -%}
	Renders a media element for the product gallery.
	Media types include: image, video, external_video and model.
	Accepts:
	- media: {Object} Media Liquid object (required)
	- featured_media: {Object} Media Liquid object (required) - featured media of a given product or variant

	Usage:
	{%- for media in product.media -%}
		{% render 'media', media: media, featured_media: featured_media %}
	{%- endfor -%}
{%- endcomment -%}

{%- assign image_size = '1024x1024' -%}
{%- assign image_zoom_size = '2048x2048' -%}
{%- capture media_wrapper_id -%}FeaturedMedia-{{ section.id }}-{{ media.id }}-wrapper{%- endcapture -%}

{%- assign media_aspect_ratio = media.aspect_ratio -%}
{%- unless media_aspect_ratio -%}
	{%- assign media_aspect_ratio = 1 -%}
{%- endunless -%}
{%- assign media_padding_top = 1 | divided_by: media_aspect_ratio | times: 100 | round: 1 -%}

{%- capture sale_badge -%}
	{%- if show_sale_badge and featured_media == media -%}
		{%- if current_variant.compare_at_price > current_variant.price -%}
			{%- if sold_out -%}
				{%- assign on_sale = false -%}
			{%- else -%}
				{%- assign on_sale = true -%}
			{%- endif -%}
		{%- else -%}
			{%- assign on_sale = false -%}
		{%- endif -%}

		{%- if on_sale -%}
			<div class="product-status-flag tag-fp fp-on-sale-tag tag--{{ settings.product_badge_style }}" id="tag-{{ current_variant.id }}" data-product-badge><span>{{ 'products.product.on_sale_html' | t }}</span></div>
		{%- endif -%}
	{%- endif -%}
{%- endcapture -%}

{%- assign sold_out = true -%}
{%- if current_variant.available -%}
	{%- assign sold_out = false -%}
{%- endif -%}

{%- assign image_gallery_class = '' -%}
{%- if image_gallery == 'zoom' -%}
	{%- assign image_gallery_class = 'hover-zoom' -%}
{%- elsif image_gallery == 'lightbox' -%}
	{%- assign image_gallery_class = 'mfp-zoom-in-cur' -%}
{%- endif -%}

<div id="{{ media_wrapper_id }}"
	class="product-single__media-slide{% unless featured_media == media %} media--hidden{% endunless %}"
	data-id="{{ media.id }}"
    data-media-id="{{ section.id }}-{{ media.id }}"
    data-aspectratio="{{ media_aspect_ratio }}"
    data-product-single-media-wrapper
	{% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}
    {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
    {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
    tabindex="-1">
	{%- case media.media_type -%}
		{%- when 'image' -%}
			{%- assign image = media -%}
			{%- assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
			{%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}

			<div class="product-single__media product-single__media--image">
				<div class="product-single__media--image-height" style="padding-top: {{ media_padding_top }}%;"></div>
				<img class="{{ image_gallery_class }} lazyload"
					src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
					data-src="{{ image_url_pattern }}"
					data-widths= "{{ image_widths }}"
					data-aspectratio="{{ media_aspect_ratio }}"
					data-sizes="auto"
					data-object-fit="contain"
					{% if image_gallery == 'lightbox' %}
						data-mfp-src="{{ media | img_url: image_zoom_size }}"
					{% elsif image_gallery == 'zoom' %}
						data-zoom="{{ media | img_url: image_zoom_size }}"
					{% endif %}
					alt="{{ media.alt | escape }}">
				<noscript>
					<img src="{{ media | img_url: image_zoom_size }}" alt="{{ media.alt | escape }}" class="{{ image_gallery_class }}" id="{{ media.id }}">
				</noscript>
			</div>
		{%- when 'external_video' -%}
			<div class="product-single__media product-single__media--video" style="padding-top: {{ media_padding_top }}%;">
				{{ media | external_video_tag }}
			</div>
		{%- when 'video' -%}
			<div class="product-single__media product-single__media--video product-single__media--{{ media.id }}" style="padding-top: {{ media_padding_top }}%;">
				{{ media | video_tag: class: 'media-video', image_size: image_size }}
			</div>
		{%- when 'model' -%}
			<div class="product-single__media product-single__media--model" style="padding-top: {{ media_padding_top }}%">
				{{ media | model_viewer_tag: image_size: image_size, reveal: 'interaction', toggleable: true, data-model-id: media.id }}
			</div>
		{%- else -%}
			<div class="product-single__media" style="padding-top: {{ media_padding_top }}%;">
				{{ media | media_tag: class: 'media-item', image_size: image_size }}
			</div>
	{%- endcase -%}
	{{- sale_badge -}}
</div>