{%- comment -%}
	Logic to set the grid size
{%- endcomment -%}
{%- comment -%}
  Logic to set the grid size
{%- endcomment -%}
{%- assign num_rows = settings.product_grid_columns_desktop | plus: 0 -%}

{%- if num_rows == 1 -%}
  {%- assign grid_item_width = 'medium--one-whole large--one-whole' -%}
{%- elsif num_rows == 2 -%}
  {%- assign grid_item_width = 'medium--one-half large--one-half' -%}
{%- elsif num_rows == 3 -%}
  {%- assign grid_item_width = 'medium--one-half large--one-third' -%}
{%- elsif num_rows == 4 -%}
  {%- assign grid_item_width = 'medium--one-half large--one-quarter' -%}
{%- endif -%}

{%- assign num_rows_mobile = settings.product_grid_columns_mobile | plus: 0 -%}
{%- if num_rows_mobile == 1 -%}
  {%- assign grid_item_width =  grid_item_width | append: ' small--one-whole' -%}
{%- elsif num_rows_mobile == 2 -%}
  {%- assign grid_item_width = grid_item_width | append: ' small--one-half' -%}
{%- endif -%}

<div class="text-center {{ grid_item_width }}{% if enable_carousel %} featured-collection__item{% endif %}"{% if enable_carousel %} data-product-slide{% endif %}>
	<div class="product-grid-item">
		<div class="product-grid-item__image">
			{%- capture index -%}{%- cycle 1,2,3,4,5,6 -%}{%- endcapture -%}
			{%- capture index_hover -%}{%- cycle 5,6,1,2,3,4 -%}{%- endcapture -%}
			<div class="product__media product__media--featured placeholder-svg--overlayed">
				{{ 'product-' | append: index | placeholder_svg_tag: 'placeholder-svg-filled' }}
			</div>

			{%- if product_grid_slideshow -%}
				<div class="product__media-slider product__media-slider--mobile product__media-slider--arrows-{{ settings.product_grid_slideshow_arrows }}">
					{%- for j in (1..3) -%}
						<div class="product__media-slide">
							<div class="product__media placeholder-svg--overlayed">
								{{- 'product-' | append: index_hover | placeholder_svg_tag: 'placeholder-svg-filled' -}}
							</div>
						</div>
					{%- endfor -%}
				</div>

				<div class="product__media-slider product__media-slider--desktop product__media-slider--arrows-{{ settings.product_grid_slideshow_arrows }}">
					{%- for j in (1..3) -%}
						<div class="product__media-slide">
							<div class="product__media placeholder-svg--overlayed">
								{{- 'product-' | append: index_hover | placeholder_svg_tag: 'placeholder-svg-filled' -}}
							</div>
						</div>
					{%- endfor -%}
				</div>
			{%- else -%}
				{%- if settings.product_grid_hover_image -%}
					<div class="product__media-hover placeholder-svg--overlayed">
						{{- 'product-' | append: index_hover | placeholder_svg_tag: 'placeholder-svg-filled' -}}
					</div>
				{%- endif -%}
			{%- endif -%}

			{%- unless settings.quick_button == 'none' -%}
				<div class="btn-wrapper">
					{%- if settings.quick_button == 'view' -%}
						<span class="btn btn--quick-view">{{ 'products.general.quick_view' | t }}</span>
					{%- elsif settings.quick_button == 'buy' -%}
						<span class="btn btn--quick-buy">{{ 'products.general.add_to_cart' | t }}</span>
					{%- endif -%}
				</div>
			{%- endunless -%}
		</div>

		<div class="product-grid-item__info">
			<a class="product-grid-item__title" href="#!">
				{{- 'homepage.onboarding.product_title' | t -}}
			</a>

			{%- if show_review_stars -%}
				{%- if enable_reviews or settings.enable_yotpo and settings.yotpo_ID != '' -%}
					<div class="product__badge">
						<span class="spr-badge" data-rating="0.0">
							<span class="spr-starrating spr-badge-starrating">
								{%- for i in (1..5) -%}
									<i class="spr-icon spr-icon-star-empty"></i>
								{%- endfor -%}
							</span>
						</span>
					</div>
				{%- endif -%}
			{%- endif -%}

			<p class="product-grid-item__price price">{{ 1999 | money }}</p>

			{%- if settings.show_product_grid_buttons -%}
				<a class = "btn" href="#!">{{ 'products.product.view_item' | t }}</a>
			{%- endif -%}

			{%- if enable_swatches -%}
				<div class="product-grid-item__swatch {% if settings.product_grid_hover_swatches %}product-grid-item__swatch--hover{% endif %}">
					<div class="swatch">
						<div data-value="White" class="swatch__element color white">
							<div class="swatch__label">
								<span class="swatch__color swatch__color--white" style="background-color: white; background-image: url({{ 'white' | append: '.' | append: file_extension | asset_url }})"></span>
							</div>
						</div>
						<div data-value="Grey" class="swatch__element color grey">
							<div class="swatch__label">
								<span class="swatch__color swatch__color--grey" style="background-color: grey; background-image: url({{ 'grey' | append: '.' | append: file_extension | asset_url }})"></span>
							</div>
						</div>
						<div data-value="Black" class="swatch__element color black">
							<div class="swatch__label">
								<span class="swatch__color swatch__color--black" style="background-color: black; background-image: url({{ 'black' | append: '.' | append: file_extension | asset_url }})"></span>
							</div>
						</div>
					</div>
				</div>
			{%- endif -%}
		</div>
	</div>
</div>