{%- comment -%} /templates/customers/activate_account.liquid {%- endcomment -%}
<section class="page-customer">
	<div class="grid--full wrapper">
		<div class="grid__item large--one-third push--large--one-third">

			<h2 class="text-left accounts-header">{{ 'customer.activate_account.title' | t }}</h2>
			<p class="light-gray text-left">{{ 'customer.activate_account.subtext' | t }}</p>

			{% comment %}
				This form must use 'activate_customer_password'
			{% endcomment %}
			<div class="form-vertical">
				{% form 'activate_customer_password', id: 'ActivateCustomerPassword' %}

					{{ form.errors | default_errors }}

					<label for="CustomerPassword" class="hidden-label">{{ 'customer.activate_account.password' | t }}</label>
					<input type="password" value="" name="customer[password]" id="CustomerPassword" class="input--full" placeholder="{{ 'customer.activate_account.password' | t }}">

					<label for="CustomerPasswordConfirmation" class="hidden-label">{{ 'customer.activate_account.password_confirm' | t }}</label>
					<input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="input--full" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

					<button type="submit" class="btn">{{ 'customer.activate_account.submit' | t }}</button>
					<button type="submit" class="btn--secondary" name="decline">{{ 'customer.activate_account.cancel' | t }}</button>
				{% endform %}
			</div>

		</div>
	</div>
</section>