{%- comment -%} /templates/customers/login.liquid {%- endcomment -%}
<section class="page-customer">
	<div class="grid--full wrapper">
		<div class="grid__item large--one-third push--large--one-third">
			<div id="CustomerLoginForm" class="form-vertical">
				{% form 'customer_login', id: 'CustomerLogin' %}
					<div class="note form-success" id="ResetSuccess" {% unless form.posted_successfully? %}style="display:none;"{% endunless %}>
						{{ 'customer.recover_password.success' | t }}
					</div>
					<h2 class="text-left">{{ 'customer.login.title' | t }}</h2>
					{{ form.errors | default_errors }}
					<label for="CustomerEmail" class="hidden-label">{{ 'customer.login.email' | t }}</label>
					<input type="email" name="customer[email]" id="CustomerEmail" class="input--full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus required>
					{% if form.password_needed %}
						<label for="CustomerPassword" class="hidden-label">{{ 'customer.login.password' | t }}</label>
						<input type="password" value="" name="customer[password]" id="CustomerPassword" class="input--full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}" required>
					{% endif %}
					<button type="submit" class="btn">{{ 'customer.login.sign_in' | t }}</button>
					<div class = "return light-gray">
						{% if form.password_needed %}
							<a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}  •  </a>
						{% endif %}
						<a href="{{ routes.account_register_url }}">{{ 'layout.customer.create_account' | t }}</a>
					</div>
				{% endform %}
			</div>

			<div id="RecoverPasswordForm" class="text-left" style="display: none;">
				<h2 class="accounts-header">{{ 'customer.recover_password.title' | t }}</h2>
				<p class="light-gray">{{ 'customer.recover_password.subtext' | t }}</p>
				<div class="form-vertical">
					{% form 'recover_customer_password', id: 'RecoverCustomerPassword' %}
						{{ form.errors | default_errors }}

						{% if form.posted_successfully? %}
							{% assign resetPassword = true %}
						{% endif %}
						<label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
						<input type="email" value="" name="email" id="RecoverEmail" class="input--full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off" required>
						<button type="submit" class="btn">{{ 'customer.recover_password.submit' | t }}</button>
						<a href = "#!" type="button" id="HideRecoverPasswordLink" class="return light-gray">{{ 'customer.recover_password.cancel' | t }}</a>
					{% endform %}
				</div>
			</div>
			{% comment %}
			If accounts are set as optional, the following will be shown as an option
			during checkout, not on the default /login page.
			{% endcomment %}
			{% if shop.checkout.guest_login %}
				<hr>
				<h2>{{ 'customer.login.guest_title' | t }}</h2>
				{% form 'guest_login', id: 'GuestLogin' %}
					<button type="submit" class="btn">{{ 'customer.login.guest_continue' | t }}</button>
				{% endform %}
			{% endif %}
		</div>
	</div>
</section>