{%- comment -%} /templates/customers/register.liquid {%- endcomment -%}
<section class="page-customer">
	<div class="grid--full wrapper">
		<div class="grid__item large--one-third push--large--one-third">
			<h2 class="text-left">{{ 'customer.register.title' | t }}</h2>
			<div class="form-vertical">
				{% form 'create_customer', id: 'CreateCustomer' %}
					{{ form.errors | default_errors }}
					<label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
					<input type="text" name="customer[first_name]" id="FirstName" class="input--full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
					<label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
					<input type="text" name="customer[last_name]" id="LastName" class="input--full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
					<label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
					<input type="email" name="customer[email]" id="Email" class="input--full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required>
					<label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>
					<input type="password" name="customer[password]" id="CreatePassword" class="input--full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}" required>
					<button type="submit" class="btn">{{ 'customer.register.submit' | t }}</button>
					<a class = "return light-gray" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
				{% endform %}
			</div>
		</div>
	</div>
</section>