{%- comment -%} /templates/customers/reset_password.liquid {%- endcomment -%}

<section class="page-customer">
	<div class="grid--full wrapper">
		<div class="grid__item large--one-third push--large--one-third">

			<div class="form-vertical">
				{% form 'reset_customer_password', id: 'ResetCustomerPassword' %}

					<h3 class="text-left">{{ 'customer.reset_password.title' | t }}</h3>

					<p class="text-left">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

					{{ form.errors | default_errors }}

					<label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
					<input type="password" value="" name="customer[password]" id="ResetPassword" class="input--full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">

					<label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
					<input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input--full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

					<div class="text-center">
						<button type="submit" class="btn">{{ 'customer.reset_password.submit' | t }}</button>
					</div>

				{% endform %}
			</div>

		</div>
	</div>
</section>
