<!DOCTYPE html>
<html class="no-js no-touch" lang="{{ shop.locale }}">
<head>
  <meta name="facebook-domain-verification" content="4yivzfjgqdh60d16k2pluv9kenak26" />
	<meta charset="utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
	<link rel="canonical" href="{{ canonical_url }}" />
	<link rel="prefetch" href="{{ shop.url }}" as="document">
	<link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
	<link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
	<link rel="preload" as="font" href="{{ settings.type_heading_font | font_url }}" type="font/woff2" crossorigin>
	<link rel="preload" as="script" href="{{ 'lazysizes.min.js' | asset_url }}">
	<link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
	<link rel="preload" as="image" href="{{ 'loading.svg' | asset_url }}">

	<link rel="dns-prefetch" href="https://cdn.shopify.com">
	<link rel="dns-prefetch" href="https://v.shopify.com">
	<link rel="dns-prefetch" href="https://fonts.googleapis.com" crossorigin>
	<link rel="dns-prefetch" href="https://cdn.shopifycloud.com">
	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
	<link rel="dns-prefetch" href="https://www.google-analytics.com">
	<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
	<link rel="preconnect" href="https://ajax.googleapis.com">
	<link rel="preconnect" href="https://customjs.s.asaplabs.io">
	<link rel="dns-prefetch" href="https://maps.googleapis.com">
	<link rel="dns-prefetch" href="https://maps.gstatic.com">
	<link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com">

	{%- if settings.enable_reviews -%}
		<link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
	{%- endif -%}

	{%- if settings.favicon != blank -%}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
	{%- endif -%}

	{% comment %} Title and description {% endcomment %}
	<title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

	{%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
	{%- endif -%}

	{%- render 'css-variables' -%}

	{{- 'theme.css' | asset_url | stylesheet_tag -}}

	<script type="text/javascript">
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

		window.theme = {
			info: {
				name: 'Palo Alto'
			},
			version: '2.8.7'
		};
		window.routes = {
			search_url: {{ routes.search_url | json }},
			cart_change_url: {{ routes.cart_change_url | json }},
			shop_url: {{ shop.url | json }},
			root_url: {{ routes.root_url | json }},
			cart_url: {{ routes.cart_url | json }},
			cart_add_url: {{ routes.cart_add_url | json }},
			product_recommendations_url: {{ routes.product_recommendations_url| json }}
		};
		window.translations = {
			loading: {{ "collections.pagination.loading" | t | json }},
			load_more: {{ "collections.pagination.load_more" | t | json }},
			add_to_cart: {{ "products.product.add_to_cart" | t | json }},
			sold_out: {{ "products.product.sold_out" | t | json }},
			sold_out_html: {{ "products.product.sold_out_html" | t | json }},
			on_sale_html: {{ "products.product.on_sale_html" | t | json }},
			unavailable: {{ "products.product.unavailable" | t | json }},
			zero_qty_error: {{ "cart.general.zero_qty_error" | t | json }},
			cart_title: {{ "cart.general.title" | t | json }},
			cart_empty: {{ "cart.general.empty" | t | json }},
			cart_price: {{ "cart.label.price" | t | json }},
			cart_quantity: {{ "cart.label.quantity" | t | json }},
			cart_total: {{ "cart.label.total" | t | json }},
			cart_acceptance_error: {{ "cart.general.accept_terms" | t | json }},
			continue_shopping: {{ "cart.general.continue_shopping" | t | json }},
			results_one: {{ "general.search.results.one" | t | json }},
			results_other: {{ "general.search.results.other" | t | json }},
			no_results: {{ "general.search.results.no_results" | t | json }},
			view_all: {{ "general.search.view_all" | t | json }},
			unit_price_separator: {{ "general.accessibility.unit_price_separator" | t | json }}
		};
		window.settings = {
			cartType: {{ settings.cart_type | json }},
			gridImageSize: {{ settings.image_size | json }},
			enableInfinityScroll: {{ settings.enable_infinity_scroll | json }},
			enablePaymentButton: {{ settings.enable_payment_button | json }},
			enableReviews: {{ settings.enable_reviews | json }},
			enableYotpo: {{ settings.enable_yotpo | json }},
			enableAcceptTerms: {{ settings.enable_accept_terms | json }},
			yotpoId: {{ settings.yotpo_ID | json }},
			productBadgeStyle: {{ settings.product_badge_style | json }},
			productGridLayout: {{ settings.product_grid_layout | json }},
			cartType: {{ settings.cart_type | json }},
			quickButton: {{ settings.quick_button | json }},
			mobileMenuBehaviour: {{ settings.mobile_menu_behaviour | json }},
		};
		window.lazySizesConfig = {
			loadHidden: false,
			hFac: 0.5,
			expFactor: 2,
			customMedia: {
				'--phone': '(max-width: 640px)',
				'--tablet': '(min-width: 641px) and (max-width: 1023px)',
				'--lap': '(min-width: 1024px)'
			}
		};
		window.PaloAlto = window.PaloAlto || {};
		window.slate = window.slate || {};
		window.moneyFormat = {{ shop.money_format | json }};
		window.isHeaderTransparent = false;
		window.initialHeaderHeight = 0;
		window.currentWindowWidth = window.innerWidth || document.documentElement.clientWidth;
	</script>
	<script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

	{%- if request.page_type contains 'customers/' -%}
			<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
	{%- endif -%}

	{%- if settings.enable_yotpo and settings.yotpo_ID != '' -%}
		<script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/{{ settings.yotpo_ID }}/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
	{%- endif -%}

	<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

	{{ content_for_header }}

	{{- 'custom.css' | asset_url | stylesheet_tag -}} 
	{{- 'lee.css' | asset_url | stylesheet_tag -}} 
</head>

{%- capture body_class -%}
template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
{% if customer %} customer-logged-in{% endif %}
{% if settings.show_spacer_lines %} body--show-spacer-lines{% else %} body--hide-spacer-lines{% endif %}
{% if settings.quick_button == 'buy' %} quick-buy-enabled{% elsif settings.quick_button == 'view' %} quick-view-enabled{% endif %}
{% unless settings.show_buttons_animation %} no-button-animation{% endunless %}
 no-outline
{%- endcapture -%}

<body id="{{ page_title | handle }}" class="{{ body_class | strip_newlines | strip }}">
	<div class="block-body"></div>
	<a class="in-page-link skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

	{%- section 'popup' -%}
	{%- section 'announcement-bar' -%}
	{%- section 'header' -%}

	<div id="PageContainer" class="is-moved-by-drawer">

		<main id="MainContent" class="main-content" role="main">
			{{ content_for_layout }}
		</main>
		{%- section 'footer-v2' -%}

	</div>

	{%- render 'ajax-cart-template' -%}
 <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=WgMRxy"></script>
<!--DOOFINDER-SHOPIFY-->
        {% if content_for_header contains 'doofinder-installed.js' %}
        {% render 'doofinder-script-tag' %}
        {% endif %}
        <!--/DOOFINDER-SHOPIFY--></body>
</html>