{% comment %} Icons row {% endcomment %}
{%- assign background = section.settings.color_icons_bg -%}
{%- assign color = section.settings.color_icons_text -%}
{%- assign alignment = section.settings.alignment -%}

<style>
	[data-section-id="{{ section.id }}"] .icons-row--background { color: {{ color }}; background-color: {{ background }}; }
	[data-section-id="{{ section.id }}"] .icons-row__item .icon path { fill: {{ color }}; }
</style>

<section data-section-id="{{ section.id }}" data-section-type="icons-row">
	{%- if section.blocks.size > 0 -%}
		<div class="icons-row--background">
			<div class="wrapper">
				<div class="icons-row__wrapper text-{{ alignment }}">
					<div class="icons-row__slider items--{{ section.blocks.size }}">
						{%- for block in section.blocks -%}
							{%- assign title = block.settings.title -%}
							{%- assign content = block.settings.content -%}
							{%- assign image = block.settings.icon_image -%}
							{%- assign icon = block.settings.icon_name -%}

							<div class="icons-row__item" {{ block.shopify_attributes }}>
								{%- if image != blank -%}
									<div class="icons-row__image">
										{%- render 'responsive-image', image: image, image_size: '512x512' -%}
									</div>
								{%- else -%}
									{%- case icon -%}
									{%- when 'award' -%}
										{%- render 'icon-award' -%}
									{%- when 'basket' -%}
										{%- render 'icon-basket' -%}
									{%- when 'ball' -%}
										{%- render 'icon-ball' -%}
									{%- when 'calendar' -%}
										{%- render 'icon-calendar' -%}
									{%- when 'camera' -%}
										{%- render 'icon-camera' -%}
									{%- when 'comment' -%}
										{%- render 'icon-comment' -%}
									{%- when 'data' -%}
										{%- render 'icon-data' -%}
									{%- when 'dollar' -%}
										{%- render 'icon-dollar' -%}
									{%- when 'email' -%}
										{%- render 'icon-email' -%}
									{%- when 'eye' -%}
										{%- render 'icon-eye' -%}
									{%- when 'fruits' -%}
										{%- render 'icon-fruits' -%}
									{%- when 'house' -%}
										{%- render 'icon-house' -%}
									{%- when 'lock' -%}
										{%- render 'icon-lock' -%}
									{%- when 'money' -%}
										{%- render 'icon-money' -%}
									{%- when 'phone' -%}
										{%- render 'icon-phone' -%}
									{%- when 'reload' -%}
										{%- render 'icon-reload' -%}
									{%- when 'shop' -%}
										{%- render 'icon-shop' -%}
									{%- when 'sync' -%}
										{%- render 'icon-sync' -%}
									{%- when 'target' -%}
										{%- render 'icon-target' -%}
									{%- when 'wallet' -%}
										{%- render 'icon-wallet' -%}
									{%- endcase -%}
								{%- endif -%}

								{%- if title != blank -%}
									<h3 class="icons-row__title">{{ title }}</h3>
								{%- endif -%}

								{%- if content != blank -%}
									<p class="icons-row__content">{{ content }}</p>
								{%- endif -%}
							</div>
						{%- endfor -%}
					</div>
				</div>
			</div>
		</div>
	{%- endif -%}
</section>

{% schema %}
{
	"name": "Icons row",
	"max_blocks": 6,
	"class": "icons-row",
	"settings": [
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "alignment",
			"label": "Alignment",
			"options": [
				{ "label": "Center", "value": "center" },
				{ "label": "Left", "value": "left" }
			],
			"default": "center"
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "color_icons_bg",
			"label": "Background",
			"default": "#fafafa"
		},
		{
			"type": "color",
			"id": "color_icons_text",
			"label": "Text",
			"default": "#333"
		}
	],
	"blocks": [
		{
			"type": "text",
			"name": "Item",
			"settings": [
				{
		  "type": "select",
		  "id": "icon_name",
		  "label": "Icon",
		  "default": "shop",
		  "options": [
			{ "value": "award", "label": "Award" },
			{ "value": "basket", "label": "Basket" },
			{ "value": "ball", "label": "Ball" },
			{ "value": "calendar", "label": "Calendar" },
			{ "value": "camera", "label": "Camera" },
			{ "value": "comment", "label": "Comment" },
			{ "value": "data", "label": "Data" },
			{ "value": "dollar", "label": "Dollar" },
			{ "value": "email", "label": "Email" },
			{ "value": "eye", "label": "Eye" },
			{ "value": "fruits", "label": "Fruits" },
			{ "value": "house", "label": "House" },
			{ "value": "lock", "label": "Lock" },
			{ "value": "money", "label": "Money" },
			{ "value": "phone", "label": "Phone" },
			{ "value": "reload", "label": "Reload" },
			{ "value": "shop", "label": "Shop" },
			{ "value": "sync", "label": "Sync" },
			{ "value": "target", "label": "Target" },
			{ "value": "wallet", "label": "Wallet" }
		  ]
		},
		{
		  "type": "image_picker",
		  "id": "icon_image",
		  "label": "Icon image",
		  "info": "If image set it will override the icon"
		},
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Feature"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Content",
					"default": "Palo Alto is a powerful Shopify theme that will set you apart from the rest with a variety of sections and features."
				}
			]
		}
	]
}
{% endschema %}