<!-- /sections/image-columns.liquid -->

<h1>{{ section.settings.heading }}</h1>
<h2>{{ section.settings.subheading }}</h2>

<div class="profile-wrapper">
  <img src="{{ section.settings.story_image | img_url: '200x' }}">
  <div class="story-wrapper">
    
    <h3>{{ section.settings.story_heading }}</h3>
    <p>{{ section.settings.story_description | strip_html }}</p>
    
    <div class="social-wrapper">
      {% if section.settings.facebook_url != blank %}
        <a href="{{ section.settings.facebook_url }}" target="_blank">Facebook</a>
      {% endif %}

      {% if section.settings.instagram_url != blank %}
        <a href="{{ section.settings.instagram_url }}" target="_blank">Instagram</a>
      {% endif %}
    </div>
  </div>
</div>


<div class="notes-wrapper">
  <img src="{{section.settings.image_one | img_url: '200x'}}">
  <div class="slider-wrapper">
    {% for block in section.blocks %}
      <div class="slide">
        <h3>{{ block.settings.slide_heading }}</h3>
        <p>{{ block.settings.slide_text }}</p>
      </div>
    {% endfor %}
  </div>
  <img src="{{section.settings.image_two | img_url: '200x'}}">
</div>


{% schema %}
{
  "name": "Ambassador Profile",
  "max_blocks": 2,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Heading"
    },
    {
      "type": "image_picker",
      "id": "story_image",
      "label": "Story Image"
    },
    {
      "type": "text",
      "id": "story_heading",
      "label": "Story Heading",
      "default": "Her Story"
    },
    {
      "type": "richtext",
      "id": "story_description",
      "label": "Story Text"
    },
    {
      "type": "text",
      "id": "facebook_url",
      "label": "Facebook Profile Url"
    },
    {
      "type": "text",
      "id": "instagram_url",
      "label": "Instagram Profile Url"
    },
    {
      "type": "header",
      "content": "Slider Section",
      "info": "Please select the Left and Right image and use the Blocks to add slides"
    },
    {
      "type": "image_picker",
      "id": "image_one",
      "label": "First Image (L)"
    },
    {
      "type": "image_picker",
      "id": "image_two",
      "label": "Second Image (R)"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "slide_heading",
          "label": "Slide Heading"
        },
        {
          "type": "text",
          "id": "slide_text",
          "label": "Slide Text"
        }        
      ]
    }
  ] 
}
{% endschema %} 
