<!-- /sections/article-template.liquid -->

{%- assign number_of_comments = article.comments_count -%}

{% comment %}
	If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}

{%- if comment and comment.created_at -%}
	{%- assign number_of_comments = article.comments_count %}
{%- endif -%}

<div class="grid--full wrapper wrapper--small">
	<article class="grid__item">

		<header class="section-header">
			<div class="section-header__left">
				<h1>{{ article.title }}</h1>
				{% capture author %}{{ article.author }}{% endcapture %}
				{% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
				<small class = "light-gray">{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</small>
			</div>
		</header>

        {% comment %}
		{%- if article.image -%}
			<div class="article-image-wrapper">
				{%- render 'responsive-image', image: article.image, image_class: 'article-image', image_alt: article.image.alt -%}
			</div>
		{%- endif -%}
        {% endcomment %}

		<div class="rte">
			{{- article.content -}}
		</div>

		{%- if article.tags.size > 0 -%}
			<ul class="inline-list">
				{%- render 'tags-article', article: article, blog: blog -%}
			</ul>
		{%- endif -%}

		{%- if section.settings.show_share_buttons -%}
			{%- render 'social-sharing', article: article -%}
		{%- endif -%}
		{% comment %}
			Create links to the next and previous articles, if available.
		{% endcomment %}
		{%- if blog.next_article or blog.previous_article -%}
			<p class="article__nav-arrows clearfix">
				{% if blog.previous_article %}
					<span class="left">
						&larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
					</span>
				{% endif %}
				{% if blog.next_article %}
					<span class="right">
						{{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
					</span>
				{% endif %}
			</p>
		{%- endif -%}

		{%- if blog.comments_enabled? -%}
			<hr>
			{%- unless number_of_comments == '0' -%}
				<p>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</p>
			{%- endunless -%}
			{% comment %}
				Just like blog.liquid page, define how many comments should be on each page.
			{% endcomment %}
			{%- paginate article.comments by 5 -%}
				{% comment %}
					#Comments is required, it is used as an anchor link by Shopify.
				{% endcomment %}
				<div id="Comments">

					{%- if comment and comment.created_at -%}
						<p class="note form-success">
							{%- if blog.moderated? -%}
								{{- 'blogs.comments.success_moderated' | t -}}
							{%- else -%}
								{{- 'blogs.comments.success' | t -}}
							{%- endif -%}
						</p>
					{%- endif -%}

					{%- if number_of_comments > 0 -%}
						<ul class="no-bullets">
							{% comment %}
								If a comment was just submitted with no blank field, show it.
							{% endcomment %}
							{%- if comment and comment.created_at -%}
								{%- assign submitted_comment_id = comment.id -%}
								<li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
									{%- render 'comment', comment: comment -%}
								</li>
							{%- endif -%}

							{% comment %}
								Showing the rest of the comments.
							{% endcomment %}
							{%- for comment in article.comments -%}
								{%- unless comment.id == submitted_comment_id -%}
									<li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
										{%- render 'comment', comment: comment -%}
									</li>
								{%- endunless -%}

								{%- unless forloop.last -%}
									<li></li>
								{%- endunless -%}
							{% endfor %}
						</ul>

						{%- if paginate.pages > 1 -%}
							<hr>
							<div class="pagination">
								{{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
							</div>
						{%- endif -%}
					{%- endif -%}

					{% comment %}
						Comment submission form
					{% endcomment %}
					<div class="form-vertical">
						{% form 'new_comment', article, id: 'NewComment' %}

							{% comment %}
								#AddCommentTitle is used simply as an anchor link
							{% endcomment %}
							<h3 id="AddCommentTitle">{{ 'blogs.comments.title' | t }}</h3>

							{{ form.errors | default_errors }}

							<div class="grid">

								<div class="grid__item large--one-half">
									<label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
									<input type="text" name="comment[author]" id="CommentAuthor" class="input--full{% if form.errors contains 'author' %} error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}" autocapitalize="words">

									<label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
									<input type="email" name="comment[email]" id="CommentEmail" class="input--full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
								</div>

								<div class="grid__item large--one-half">
									<label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
									<textarea name="comment[body]" id="CommentBody" class="input--full{% if form.errors contains 'body' %} error {% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
								</div>

							</div>

							{%- if blog.moderated? -%}
								<small class = "light-gray">{{ 'blogs.comments.moderated' | t }}</small>
							{%- endif -%}

							<button type="submit" class="btn post-comment">{{ 'blogs.comments.post_comment' | t }}</button>

							{%- if form.errors -%}
								<script type="text/javascript">window.settings.newHash = 'AddCommentTitle';</script>
							{%- endif -%}

							{%- if form.posted_successfully? -%}
								<script type="text/javascript">window.settings.newHash = 'Comments';</script>
							{%- endif -%}

						{%- endform -%}
					</div>

				</div>
			{%- endpaginate -%}
		{%- endif -%}

	</article>
</div>

{% schema %}
	{
		"name": "Posts",
		"settings": [
			{
				"type": "checkbox",
				"id": "show_share_buttons",
				"label": "Show social sharing buttons",
				"default": true
			}
		]
	}
{% endschema %}
