{%- comment -%}
	/sections/contact-form.liquid
{%- endcomment -%}

<section data-section-type="contact-form" data-section-id="{{ section.id }}">
	<div class="wrapper wrapper--small">
		<div class="form-vertical">
			{%- comment -%}
	/partials/contact-form.liquid
{%- endcomment -%}

{%- assign form_heading = section.settings.form_heading -%}

{%- capture form_fields -%}
	{%- for block in section.blocks -%}

		{%- case block.type -%}

			{%- when 'email' -%}
				<div class="form__item" {{ block.shopify_attributes }}>
					<label for="Form-{{ section.id }}-{{ forloop.index0 }}" class="hidden-label">{{ block.settings.title }}</label>
					<input type="email" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="input--full" name="contact[email]" placeholder="{{ block.settings.title }}" autocorrect="off" autocapitalize="off" />
				</div>

			{%- when 'body' -%}
				<div class="form__item" {{ block.shopify_attributes }}>
					<label for="Form-{{ section.id }}-{{ forloop.index0 }}" class="hidden-label">{{ block.settings.title }}</label>
					<textarea rows="4" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="input--full" name="contact[body]" placeholder="{{ block.settings.title }}"></textarea>
				</div>

			{%- when 'text' -%}
				<div class="form__item" {{ block.shopify_attributes }}>
					<label for="Form-{{ section.id }}-{{ forloop.index0 }}" class="hidden-label">{{ block.settings.title }}</label>
					<input type="text" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="input--full" name="contact[{{ block.settings.title | handleize }}]" autocapitalize="words" value="" placeholder="{{ block.settings.title }}" />
				</div>

			{%- when 'textarea' -%}
				<div class="form__item" {{ block.shopify_attributes }}>
					<label for="Form-{{ section.id }}-{{ forloop.index0 }}" class="hidden-label">{{ block.settings.title }}</label>
					<textarea rows="4" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="input--full" name="contact[{{ block.settings.title | handleize }}]" placeholder="{{ block.settings.title }}"></textarea>
				</div>

			{%- when 'telephone' -%}
				<div class="form__item" {{ block.shopify_attributes }}>
					<label for="Form-{{ section.id }}-{{ forloop.index0 }}" class="hidden-label">{{ block.settings.title }}</label>
					<input type="tel" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="input--full" name="contact[telephone]" value="" placeholder="{{ block.settings.title }}"/>
				</div>

			{%- when 'spacer' -%}
				{%- assign hr_class = 'hr--clear' -%}
				{%- if block.settings.line -%}
					{%- assign hr_class = '' -%}
				{%- endif -%}
				<div class="form__item">
					<hr class="{{ hr_class }}" {{ block.shopify_attributes }}>
				</div>

			{%- when 'checkbox' -%}
				<div class="form__item form__item--checkbox" {{ block.shopify_attributes }}>
					<label for="Form-{{ section.id }}-{{ forloop.index0 }}">
						<input type="checkbox" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="input--checkbox" name="contact[{{ block.settings.title | handleize }}]" value="{{ block.settings.title }}"></input>
						<span>{{ block.settings.title }}</span>
					</label>
				</div>

			{%- when 'radio' -%}
				<fieldset class="form__item form__item--radio" {{ block.shopify_attributes }}>
					{%- if block.settings.title != blank -%}
						<legend class="form__label">{{ block.settings.title }}</legend>
					{%- endif -%}

					{%- for i in (1..6) -%}
						{%- capture index -%}label-{%- cycle 'one', 'two', 'three', 'four', 'five', 'six' -%}{%- endcapture -%}

						{%- if block.settings[index] != blank -%}
							<label for="Form-{{ section.id }}-{{ forloop.index0 }}-{{ i }}">
								<input type="radio" id="Form-{{ section.id }}-{{ forloop.index0 }}-{{ i }}" class="input--radio" name="contact[{{ block.settings.title | handleize }}]" value="{{ block.settings[index] }}">
								<span>{{ block.settings[index] }}</span>
							</label>
						{%- endif -%}
					{%- endfor -%}
				</fieldset>

			{%- when 'select' -%}
				<fieldset class="form__item" {{ block.shopify_attributes }}>
					{%- if block.settings.title != blank -%}
						<label for="Form-{{ section.id }}-{{ forloop.index0 }}" class="hidden-label">{{ block.settings.title }}</label>
					{%- endif -%}
					<div class="selector-wrapper">
						<select id="Form-{{ section.id }}-{{ forloop.index0 }}" class="FormSelect" name="contact[{{ block.settings.title | handleize }}]">
							{%- for i in (1..6) -%}
								{%- capture index -%}label-{%- cycle 'one', 'two', 'three', 'four', 'five', 'six' -%}{%- endcapture -%}

								{%- if block.settings[index] != blank -%}
									<option value="{{ block.settings[index] }}">{{ block.settings[index] }}</option>
								{%- endif -%}
							{%- endfor -%}
						</select>
					</div>
				</fieldset>
		{%- endcase -%}
	{%- endfor -%}
{%- endcapture -%}

{%- form 'contact', id: 'ContactFormId'  -%}
	{%- comment -%}
		Successful message
	{%- endcomment -%}
	{%- if form.posted_successfully? -%}
		<p class="note form-success">
			{{- 'contact.form.post_success' | t -}}
		</p>
	{%- endif -%}

	{{- form.errors | default_errors -}}

	{%- if form_heading != blank -%}
		<div class="form__item form__item--heading">
			<h2 class="form__heading">{{ form_heading }}</h2>
		</div>
	{%- endif -%}

	{%- assign types = '' -%}
	{%- for block in section.blocks -%}
		{%- assign types = types | append: block.type -%}
	{%- endfor -%}

	{%- unless types contains "text" -%}
		{%- assign name_attr = 'contact.form.name' | t | handle -%}
		<div class="form__item">
			<label for="Form-{{ section.id }}-Name" class="hidden-label">{{ 'contact.form.name' | t }}</label>
			<input type="text" id="Form-{{ section.id }}-Name" class="input--full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
		</div>
	{%- endunless -%}

	{%- unless types contains "email" -%}
		<div class="form__item">
			<label for="Form-{{ section.id }}-Email" class="hidden-label">{{ 'contact.form.email' | t }}</label>
			<input type="email" id="Form-{{ section.id }}-Email" class="input--full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
		</div>
	{%- endunless -%}

	{{- form_fields -}}

	{%- unless types contains "body" -%}
		<div class="form__item">
			<label for="Form-{{ section.id }}-Message" class="hidden-label">{{ 'contact.form.message' | t }}</label>
			<textarea rows="4" id="Form-{{ section.id }}-Message" class="input--full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
		</div>
	{%- endunless -%}

	<div class="form__item form__item--submit">
		<button type="submit" class="btn">{{ 'contact.form.send' | t }}</button>
	</div>

{%- endform -%}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Contact form",
	"class": "shopify-section--contact-form",
	"settings": [
		{
			"type": "header",
			"content": "Contact form",
			"info": "Name, Email, and Message fields are required. You can add them as blocks in order to edit or reorder."
		},
		{
			"type": "text",
			"id": "form_heading",
			"label": "Form heading",
			"default": "Contact us"
		}
	],
	"blocks": [
		{
			"type": "email",
			"name": "Email",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Label",
					"default": "Email"
				}
			]
		},
		{
			"type": "body",
			"name": "Message",
			"limit": 1,
			"settings": [
				{
					"type": "textarea",
					"id": "title",
					"label": "Label",
					"default": "Message"
				}
			]
		},
		{
			"type": "text",
			"name": "Text line",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Label",
					"default": "Name",
					"info": "Example: Name"
				}
			]
		},
		{
			"type": "telephone",
			"name": "Telephone",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Label",
					"default": "Phone Number",
					"info": "Example: Phone Number"
				}
			]
		},
		{
			"type": "spacer",
			"name": "Spacer",
			"settings": [
				{
					"type": "checkbox",
					"id": "line",
					"label": "Show line",
					"default": false
				}
			]
		},
		{
			"type": "checkbox",
			"name": "Single checkbox",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Label",
					"default": "Checkbox option",
					"info": "Example: Subscribe to newsletter"
				}
			]
		},
		{
			"type": "select",
			"name": "Select dropdown",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Select an option",
					"info": "Example: Choose a delivery location"
				},
				{
					"type": "header",
					"content": "Include up to six options",
					"info":  "Leave option text blank to exclude"
				},
				{
					"type": "text",
					"id": "label-one",
					"default": "Select option one",
					"label": "Option one"
				},
				{
					"type": "text",
					"id": "label-two",
					"default": "Select option two",
					"label": "Option two"
				},
				{
					"type": "text",
					"id": "label-three",
					"default": "Select option three",
					"label": "Option three"
				},
				{
					"type": "text",
					"id": "label-four",
					"default": "Select option four",
					"label": "Option four"
				},
				{
					"type": "text",
					"id": "label-five",
					"default": "Select option five",
					"label": "Option five"
				},
				{
					"type": "text",
					"id": "label-six",
					"default": "Select option six",
					"label": "Option six"
				}
			]
		},
		{
			"type": "radio",
			"name": "Radio buttons",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Pick an option"
				},
				{
					"type": "header",
					"content": "Include up to six options",
					"info":  "Leave option text blank to exclude"
				},
				{
					"type": "text",
					"id": "label-one",
					"default": "Option one",
					"label": "Option one"
				},
				{
					"type": "text",
					"id": "label-two",
					"default": "Option two",
					"label": "Option two"
				},
				{
					"type": "text",
					"id": "label-three",
					"label": "Option three"
				},
				{
					"type": "text",
					"id": "label-four",
					"label": "Option four"
				},
				{
					"type": "text",
					"id": "label-five",
					"label": "Option five"
				},
				{
					"type": "text",
					"id": "label-six",
					"label": "Option six"
				}
			]
		}
	]
}
{% endschema %}