{% if section.blocks.size > 0 %}
  <section class="cards cards-{{ section.id }}">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.subheading }}</p>
    {% for block in section.blocks %}
      <article class="card">

        {% if block.settings.image != blank  %}
        {{ block.settings.image | img_url: '790x790', crop: 'center' | img_tag: block.settings.name, 'member-image' }}<br>
        <div class="card-content">
          <h2>{{ block.settings.firstname }}<br/>{{ block.settings.lastname }}</h2>
          <h3>{{ block.settings.jobtitle }}</h3>
        </div>
        {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        
      </article>
    {% endfor %}

  </section> 
{% endif %}




{% schema %}
  {
    "name": "Team Members",
	  "max_blocks": 10,
    "settings": [
      {
        "type": "checkbox",
        "id": "widescreen",
        "default": true,
        "label": "Enable Widescreen"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Team Member",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "firstname",
            "label": "First Name"
          },
          {
            "type": "text",
            "id": "lastname",
            "label": "Last Name"
          },
          {
            "type": "text",
            "id": "jobtitle",
            "label": "Job Title"
          }
        ]
      }
    ]
  }
{% endschema %}