{% comment %} Settings {% endcomment %}
{%- assign blogArticles = blogs[section.settings.blogName].articles -%}
{%- assign blogLink = blogs[section.settings.blogName].url -%}
{%- assign bg_color = section.settings.bg_color | default: '#fafafa' -%}

{%- assign title = section.settings.title -%}
{%- assign articlesCount = 4 | plus: 0 -%}

{%- assign blog_count = 0 -%}

{%- if section.settings.blogName != blank -%}
	{%- for article in blogArticles limit: articlesCount -%}
		{%- assign blog_count = blog_count | plus : 1-%}
	{%- endfor -%}
{%- endif -%}

{%- case blog_count -%}
  {%- when 1 -%}
	 {%- assign blog_width = 'small--one-whole medium--one-whole large--one-whole' -%}
  {%- when 2 -%}
	 {%- assign blog_width = 'small--one-whole medium--one-half large--one-half' -%}
  {%- when 3 -%}
	 {%- assign blog_width = 'small--one-whole medium--one-third large--one-third' -%}
  {%- else -%}
	 {%- assign blog_width = 'small--one-whole medium--one-half large--one-quarter' -%}
{%- endcase -%}

<style>[data-section-id="{{ section.id }}"] .featured-blog__article-image-img { padding-top: {{ section.settings.image_aspect_ratio | times: 100 | append: '%' }}; }</style>

{% comment %} Section {% endcomment %}
<section data-section-type="blog-posts" class="featured-blog" data-section-id="{{ section.id }}" style="background: {{ bg_color }};">
	<div class="wrapper">
		{%- if title != blank -%}
			<h2 class = "text-center">{{ title }}</h2>
		{%- endif -%}

		<div class="featured-blog__slider-container">
			<div class="featured-blog__posts featured-blog__slider-mobile">
				{%- if section.settings.blogName == blank -%}
					{%- for i in (1..articlesCount) -%}
					<div class="featured-blog__post {{blog_width}}">
						<a href="#!" title="{{article.title}}" aria-label = "{{ article.title }}">
							<div class="featured-blog__article-image">
								<div class="featured-blog__article-image-img">
									<div class="svg-placeholder placeholder-svg--overlayed">
										{{- 'image' | placeholder_svg_tag: 'placeholder-svg-filled' -}}
									</div>
								</div>
							</div>
							<div class="featured-blog__content onboarding-blog-content">
								<h4>{{ 'homepage.onboarding.blog.title' | t }}</h4>
								<p class="featured-blog__date" >{{ 'homepage.onboarding.blog.date' | t }}, {{ 'now' | date: '%Y' }}</p>
								<p>{{ 'homepage.onboarding.blog.excerpt' | t }}</p>
							</div>
						</a>
					  </div>
					{%- endfor -%}
				{%- else -%}
					{%- for article in blogArticles limit: articlesCount -%}
						{%- assign image = article.image -%}
						<div class="featured-blog__post {% if image == blank %}featured-blog__post--no-image{% endif %} {{blog_width}}">
							<a href="{{ article.url }}" aria-label = "{{ article.title }}" title="{{ article.title }}">

								{%- unless image == blank -%}
									<div class="featured-blog__article-image">
										<div class="featured-blog__article-image-img lazyload"
											data-bgset="{% render 'bgset', image: article.image %}"
											data-sizes="auto"
											data-parent-fit="cover"
										></div>
										<noscript>
											<div class="featured-blog__article-image-img" style="background-image: url( {{ image | img_url: '1024x' }} );">
											</div>
										</noscript>
									</div>
								{%- endunless -%}

								<div class="featured-blog__content">
									<h3>{{ article.title | strip_html | truncate: 50 }}</h3>
									<p class="featured-blog__date">{{ article.published_at | date: "%B %d, %Y" }}</p>
									<p class="excerpt">{{ article.excerpt_or_content | strip_html | truncate: 140 }}</p>
								</div>
							</a>
						</div>
					{%- endfor -%}
				{%- endif -%}
			</div>
		</div>
	</div>
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
{
	"name": "Blog posts",
	"settings": [
		{
			"type": "header",
			"content": "Blog"
		},
		{
			"type": "blog",
			"id": "blogName",
			"label": "Select a blog"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		},
		{
			"type": "range",
			"id": "image_aspect_ratio",
			"label": "Image aspect ratio",
			"min": 0.5,
			"max": 1.5,
			"step": 0.1,
			"unit": ":1",
			"default": 0.6
		},
		{
		  "type": "color",
		  "id": "bg_color",
		  "label": "Background",
		  "default": "#fafafa"
		}
	],
	"presets": [
		{
			"category": "Blog",
			"name": "Blog posts",
			"settings": {
				"blogName": "news",
				"title": "Our blog"
			}
		}
	]
}
{% endschema %}
