<!-- /sections/footer.liquid -->
{%- assign color_text = section.settings.color_text | default: '#000' -%}
{%- assign color_bg = section.settings.color_bg | default: '#fff' -%}

<footer class="site-footer" role="contentinfo" data-section-id="{{ section.id }}"  data-section-type="footer">
	<div class="footer-content__wrapper">
		{%- assign title = section.blocks[0].settings.heading-%}
		<div class="footer-block" {{ section.blocks[0].shopify_attributes }}>
			{%- if title != blank -%}
				<div class="h5 footer-title">{{ title }}</div>
			{%- endif -%}
			{%- render 'footer-newsletter' -%}
		</div>

		<div class="footer-block">
			{%- if section.settings.show_social_links -%}
				{%- render 'footer-social' -%}
			{%- endif -%}


			{%- assign title = linklists[section.blocks[1].settings.menu].title -%}
			{%- assign menu_links = linklists[section.blocks[1].settings.menu].links -%}
			{%- assign show_title = section.blocks[1].settings.show_title -%}		
				
			{%- if menu_links != empty -%}
				<div class="footer-links__wrapper" {% if show_title %} id="FooterMenu--{{ title | handle }}-1" data-collapsible-container-mobile{% endif %}>
					<ul class="footer-links"{% if show_title %} data-collapsible-content-mobile aria-expanded="false"{% endif %}>
						{%- for link in menu_links -%}
							<li><a class="footer-link" href="{{ link.url }}">{{ link.title }}</a></li>
						{%- endfor -%}
					</ul>
				</div>
			{%- endif -%}
		</div>
	</div>
	<div class="footer-bottom grid--full wrapper large--text-center medium--text-left">
		{%- render 'cross-border' -%}

		{%- render 'footer-copyright' -%}

		{%- if section.settings.show_payment_icons -%}
			{%- render 'footer-payment' -%}
		{%- endif -%}
	</div>

</footer>

{% schema %}
{
	"name": "Footer",
	"max_blocks": 2,
	"settings": [
		{
			"type": "checkbox",
			"id": "show_social_links",
			"label": "Show social icons",
			"info": "Edit your social settings and accounts in Theme Settings",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_payment_icons",
			"label": "Show payment icons",
			"default": true
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "color_text",
			"label": "Text",
			"default": "#000"
		},
		{
			"type": "color",
			"id": "color_bg",
			"label": "Background",
			"default": "#fff"
		},
		{
			"type": "header",
			"content": "language selector",
			"info": "To add a language, go to your [language settings.](/admin/settings/languages)"
		},
		{
			"type": "checkbox",
			"id": "show_locale_selector",
			"label": "Show language selector",
			"default": false
		},
		{
			"type": "header",
			"content": "Currency selector",
			"info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
		},
		{
			"type": "checkbox",
			"id": "show_currency_selector",
			"label": "Show currency selector",
			"default": false
		}
	],
	"blocks": [
		{
			"type": "link",
			"name": "Link list",
			"settings": [
				{
					"type": "link_list",
					"id": "menu",
					"label": "Link list",
					"default": "footer",
					"info":"This menu won't show dropdown items"
				},
				{
					"type": "checkbox",
					"id": "show_title",
					"label": "Show link list title",
					"default": true
				}
			]
		},
		{
			"type": "newsletter",
			"name": "Newsletter",
			"settings": [
				{
					"type": "paragraph",
					"content": "Subscribers are added in the Customers section of your site admin."
				},
				{
					"type": "richtext",
					"id": "heading",
					"label": "Heading",
					"default": "<p>Newsletter</p>"
				}
			]
		}
	]
}
{% endschema %}
