{% stylesheet 'scss' %}
.card {
  background: #f4f4f4;
  margin-bottom: 2em; 
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: bold;
  text-transform: none;
}

.card-content h4 {
  margin-top: 0;
  margin-bottom: .5em;
}

.card-content p {
  color: #6c6c6c;
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
    	flex-flow: row wrap;
      	justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(33.33% - 1em);
    }
}
{% endstylesheet %}


{% if section.blocks.size > 0 %}
<section class="cards cards-{{ section.id }}">

  {% for block in section.blocks %}
  <article class="card">

    {% if block.settings.image != blank  %}
    {{ block.settings.image | img_url: '790x790', crop: 'center' | img_tag: block.settings.name, 'member-image' }}<br>
    <div class="card-content">
      <h2>{{ block.settings.name }}</h2>
      <p>{{ block.settings.biography | newline_to_br  }}</p>
    </div>
    {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    
  </article>
  {% endfor %}

</section>
{% endif %}




{% schema %}
  {
    "name": "Team Members",
	  "max_blocks": 10,
    "settings": [
      {
        "type": "checkbox",
        "id": "widescreen",
        "default": true,
        "label": "Enable Widescreen"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Team Member",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "textarea",
            "id": "biography",
            "label": "Biography"
          }
        ]
      }
    ]
  }
{% endschema %}