{%- assign heading = section.settings.title -%}
{%- assign subtitle = section.settings.subtitle -%}
{%- assign button_text = section.settings.button_text -%}
{%- assign button_url = section.settings.button_url -%}
{%- assign button_style = section.settings.button_style -%}
{%- assign image_one = section.settings.image_one -%}
{%- assign image_two = section.settings.image_two -%}

<section data-section-id="{{ section.id }}" class="our-story__timeless-designs">
  <div class="wrapper">
    {% if image_one != blank %}
      <img src="{{ image_one | img_url: '900x'}}" class="">  
    {% endif %}
    
    <div class="content-wrapper">
      <h2 class="main_heading">{{heading}}</h2>
      <p>{{subtitle}}</p>
      
      {%- if button_text != blank -%}
        <div class="rich-text__buttons">
          {%- if button_text != blank -%}
            <a class="btn btn--{{ button_style }}" href="{{ button_url }}">{{ button_text }}</a>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>

    

    {% if image_two != blank %}
      <img src="{{ image_two | img_url: '900x'}}" class="">  
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Timeless Design Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Heading"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "primary",
      "options": [
        { "label": "Primary", "value": "primary" },
        { "label": "Secondary", "value": "secondary" }
      ]
    },
    {
      "type": "image_picker",
      "id": "image_one",
      "label": "Image One"
    },
    {
      "type": "image_picker",
      "id": "image_two",
      "label": "Image Two"
    }
  ]
}
{% endschema %}
