{%- assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}

{%- assign image_width = block.settings.image_width -%}
{%- assign image_height = image_width | divided_by: image.aspect_ratio -%}



<div class="image-text-slider">

	{%- for block in section.blocks -%}
		{%- assign image = block.settings.image -%}		
		{%- assign button_text = block.settings.button_text -%}
		{%- assign button_link = block.settings.button_link -%}
		{%- assign button_style = block.settings.button_style -%}

		<div class="slide">
			<img
				class="lazyload"
				src="{{ image | img_url: '400x;' }}"
			/>
			<h2>{{ block.settings.slide_heading }}</h2>
			<p>{{ block.settings.slide_text }}</p>
			<a class="btn btn--{{ button_style }} call-to-action" href="{{ button_link }}">{{ button_text | escape }}</a>
		</div>
	{%- endfor -%}
</div>


{% schema %}
{
	"name": "Image & Text Slider",
	"settings": [
	],
	"blocks": [
		{
			"type": "slide",
			"name": "Slide",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "slide_heading",
					"label": "Header"
				},
				{
					"type": "richtext",
					"id": "slide_text",
					"label": "Description Text"
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Text"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Style",
					"default": "primary",
					"options": [
						{ "label": "Primary", "value": "primary" },
						{ "label": "Secondary", "value": "secondary" }
					]
				}
			]
		}
	]
}
{% endschema %}