{% assign starCount = section.settings.star_count %}

<section data-section-id="{{ section.id }}">
  <h2>{{section.settings.title}}</h2>
  
  <div class="row-one-wrapper">
    <div class="stat">
      <h3>{{section.settings.review_one_header}}</h3>
      <p>{{section.settings.review_one_detail}}</p>
    </div>
    <div class="stat">
      <h3>{{section.settings.review_two_header}}</h3>
      <p>{{section.settings.review_two_detail}}</p>
      <div class="stars">
        {% for i in (1..starCount) %}
          <span class="star">
            <svg data-bbox="18.957 22.5 162.063 155.026" viewBox="18.957 22.5 162.063 155.026" height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-type="color"><path d="m111.6 29.7 15 30.3c1.9 3.8 5.6 6.5 9.8 7.1l33.5 4.9c10.6 1.5 14.9 14.5 7.2 22.1l-24.3 23.6c-3 3-4.4 7.2-3.7 11.4l5.7 33.3c1.9 10.6-9.3 18.6-18.7 13.6l-30-15.7c-3.7-2-8.3-2-12 0L64 176c-9.5 5-20.6-3-18.7-13.6L51 129c.7-4.2-.7-8.5-3.7-11.4L22.9 94c-7.7-7.4-3.5-20.4 7.2-22.1L63.7 67c4.2-.6 7.9-3.3 9.8-7.1l14.9-30.2c4.7-9.6 18.4-9.6 23.2 0z" fill="#eab82f" data-color="1"/></svg>
          </span>
        {% endfor %}
      </div>
    </div>
    <div class="stat">
      <h3>{{section.settings.review_three_header}}</h3>
      <p>{{section.settings.review_three_detail}}</p>
    </div>
  </div>
  <div class="row-two-wrapper">
    <div class="stat">
      <h3>{{section.settings.review_four_header}}</h3>
      <p>{{section.settings.review_four_detail}}</p>
    </div>
    <div class="stat">
      <h3>{{section.settings.review_five_header}}</h3>
      <p>{{section.settings.review_five_detail}}</p>
    </div>
    <div class="stat">
      <h3>{{section.settings.review_six_header}}</h3>
      <p>{{section.settings.review_six_detail}}</p>
    </div>
    <div class="stat">
      <h3>{{section.settings.review_seven_header}}</h3>
      <p>{{section.settings.review_seven_detail}}</p>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "Year In Review Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "header",
        "content": "Primary Stats Row"
      },
      {
        "type": "text",
        "id": "review_one_header",
        "label": "Review 1 Header"
      },
      {
        "type": "text",
        "id": "review_one_detail",
        "label": "Review 1 Detail"
      },
      {
        "type": "text",
        "id": "review_two_header",
        "label": "Review 2 Header"
      },
      {
        "type": "text",
        "id": "review_two_detail",
        "label": "Review 2 Detail"
      },
      {
        "type": "range",
        "id": "star_count",
        "label": "Review 2 Star Count",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 1
      },
      {
        "type": "text",
        "id": "review_three_header",
        "label": "Review 3 Header"
      },
      {
        "type": "text",
        "id": "review_three_detail",
        "label": "Review 3 Detail"
      },
      {
        "type": "header",
        "content": "Secondary Stat Row"
      },
      {
        "type": "text",
        "id": "review_four_header",
        "label": "Review 4 Header"
      },
      {
        "type": "text",
        "id": "review_four_detail",
        "label": "Reiew 4 Detail"
      },
      {
        "type": "text",
        "id": "review_five_header",
        "label": "Review 5 Header"
      },
      {
        "type": "text",
        "id": "review_five_detail",
        "label": "Review 5 Detail"
      },
      {
        "type": "text",
        "id": "review_six_header",
        "label": "Review 6 Header"
      },
      {
        "type": "text",
        "id": "review_six_detail",
        "label": "Review 6 Detail"
      },
      {
        "type": "text",
        "id": "review_seven_header",
        "label": "Review 7 Header"
      },
      {
        "type": "text",
        "id": "review_seven_detail",
        "label": "Review 7 Detail"
      }
    ]
}
{% endschema %}
