{% comment %} Icons row {% endcomment %}
<section data-section-id="{{ section.id }}" data-section-type="proof-blocks">
	{%- if section.blocks.size > 0 -%}

		<div class="proof-blocks__wrapper">
			{% for block in section.blocks %}
				{%- assign title = block.settings.title -%}
				{%- assign description = block.settings.description -%}
				{%- assign image = block.settings.image -%}
				{%- assign position_right = block.settings.position -%}

				<div class="proof-block" >
					<img class="{% if position_right %}first{% endif %}" src="{{image | img_url: "260x" }}" >
					<div class="detail-wrapper">
						<h2>{{title}}</h2>
						<p>{{description}}</p>
					</div>
				</div>

			{% endfor %}
		</div>
	{%- endif -%}
</section>

{% schema %}
{
	"name": "4 Block Section",
	"max_blocks": 4,
	"settings": [
		{
			"type": "header",
			"content": "layout"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Slide",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "Square Image (1:1) Required"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Welcome to Palo Alto"
				},
				{
					"type": "text",
					"id": "description",
					"label": "Description",
					"default": "Text Description"
				},
				{
					"type": "checkbox",
					"id": "position",
					"label": "Position Image Right?",
					"default": true
				}
			]
		}
	] 
} 
{% endschema %}