<!-- /sections/rich-text.liquid -->
{%- assign show_image = false -%}
{%- assign section_id = section.id -%}
{%- assign text_position = section.settings.text_position -%}
{%- assign top_image = section.settings.top_image -%}
{%- assign top_image_width = section.settings.top_image_width -%}
{%- assign subheading = section.settings.subheading -%}
{%- assign heading = section.settings.heading -%}
{%- assign text = section.settings.text -%}
{%- assign button_text = section.settings.button_text -%}
{%- assign button_url = section.settings.button_url -%}
{%- assign button_style = section.settings.button_style -%}
{%- assign secondary_button_text = section.settings.secondary_button_text -%}
{%- assign secondary_button_url = section.settings.secondary_button_url -%}
{%- assign secondary_button_style = section.settings.secondary_button_style -%}

<section data-section-id="{{ section.id }}" data-section-type="rich-text" class="featured-content-section" id="play-proof__rich-text-2">
	
	<div class="play-proof__image-wrapper">
		<svg class="play-proof__image" >
			<g>
				<g>
					<path d="M63.87 177.16C86.06 107.4 134.6 62 190.88 73.57c68.35 14.07 92 106 103.22 100.31" stroke-width="9.46" stroke-miterlimit="10" stroke="#000000" fill="none"/>
					<path d="M46.58 130.77C70 61 134.3 17.87 193.22 29.34c71.55 13.94 104.62 91.66 106.24 95.75" stroke-width="3.48" stroke-miterlimit="10" stroke="#000000" fill="none"/>
					<path d="M63.07 175.24c22.18-69.77 70.72-115.19 127-103.6 68.35 14.07 92 106 103.22 100.31" stroke="#693092" stroke-width="9.46" stroke-miterlimit="10" fill="none"/>
					<path d="M55.76 146C79.13 76.22 134 31.48 193 43c71.55 13.94 96.11 105.81 107.89 100.12" stroke-width="9.68" stroke="#f26722" stroke-miterlimit="10" fill="none"/>
					<path d="M64.14 169.74c22.19-69.76 70.73-115.18 127-103.6 68.36 14.07 92 106 103.22 100.32" stroke="#2b3895" stroke-width="9.46" stroke-miterlimit="10" fill="none"/>
					<path d="M57.74 163.06C81.12 93.25 132 47.73 191 59.21 262.51 73.14 287.07 165 298.85 159.32" stroke="#11b14b" stroke-width="9.68" stroke-miterlimit="10" fill="none"/>
					<path d="M50.62 135.89C74 66.07 135.41 22.61 194.33 34.08c71.55 13.94 99.75 94.7 101.37 98.84" stroke="#ed2024" stroke-width="9.68" stroke-miterlimit="10" fill="none"/>
					<path d="M58.28 154.31C81.65 84.5 132.57 39 191.49 50.45 263 64.39 287.61 156.26 299.38 150.57" stroke="#f7ec13" stroke-width="9.68" stroke-miterlimit="10" fill="none"/>
					<path d="M260 178.91c-17.66 1-30.58-13.87-29-27.27 1.36-11.83 14-22.5 29.26-21.16.26-.55 3.69-7.31 11.33-8.36a15 15 0 0114.53 6.81 20.53 20.53 0 0134.42 15.55c9 4.25 13.5 14.25 10.95 22.86-2.95 10-14.71 16.12-25.73 12.15a26.09 26.09 0 01-23.78 13.41c-14.69-.6-21.72-13.45-21.98-13.99z" fill="#ffffff" stroke-width="3.48" stroke-miterlimit="10" stroke="#000000"/>
					<path d="M36.37 197.41c-21.06 1.44-36.24-17.08-34.22-34 1.78-15 17-28.59 35.17-27.12.33-.69 4.51-9.28 13.63-10.71A17.12 17.12 0 0168.17 134c8.15-7.55 19.63-9.07 28.53-3.9 7.72 4.48 12.4 13.35 12.27 23a24.73 24.73 0 0112.73 28.69c-3.66 12.61-17.77 20.55-30.85 15.7-5.85 10.93-16.92 17.63-28.53 17.26-17.43-.55-25.63-16.67-25.95-17.34z" stroke-width="3.93" fill="#ffffff" stroke-miterlimit="10" stroke="#000000"/>
					<path d="M153 267.84a168.78 168.78 0 01-44.73-57.31C82.07 155.32 95 102.77 99.46 87.2l32.36-10.29 20.76 9.64 48.88-14.8L227 98.22l16-2.44 29.72 25.32c-1.35 15-7.74 64.69-48.78 105.33A166.88 166.88 0 01153 267.84z" fill="#0eb8a2" stroke-width="3.48" stroke-miterlimit="10" stroke="#000000"/>
					<path d="M156.17 253.11a143.4 143.4 0 01-38.28-48.33c-22.44-46.53-11.53-90.73-7.76-103.82l27.57-8.59 10 10.46 49.42-14.64 10.72 24 24.76-3.67 25.4 21.37c-1.12 12.59-6.45 54.42-41.37 88.53a141.8 141.8 0 01-60.46 34.69z" fill="#ffffff" stroke-width="3.48" stroke-miterlimit="10" stroke="#000000"/>
					<text transform="rotate(-69.92 108.923 29.403)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						A
					</text>
					<text transform="rotate(-62.79 110.901 10.818)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						L
					</text>
					<text transform="matrix(.55 -.83 .83 .55 57.84 90.92)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						L
					</text>
					<text transform="rotate(-50.85 116.387 -29.29)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						-
					</text>
					<text transform="rotate(-44.53 120.341 -58.419)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						S
					</text>
					<text transform="rotate(-38 124.95 -99.847)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						E
					</text>
					<text transform="rotate(-31.3 131.95 -158.311)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						A
					</text>
					<text transform="rotate(-24.5 139.75 -249.054)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						S
					</text>
					<text transform="rotate(-16.87 165.125 -433.127)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						O
					</text>
					<text transform="matrix(.99 -.11 .11 .99 154.01 23.16)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						N
					</text>
					<text transform="rotate(2.57 -397.664 3876.233)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						
					</text>
					<text transform="rotate(10.94 -23.838 969.872)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						G
					</text>
					<text transform="rotate(20.29 27.778 583.6)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						U
					</text>
					<text transform="rotate(27.81 43.18 465.41)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						A
					</text>
					<text transform="rotate(35 52.304 401.518)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						R
					</text>
					<text transform="rotate(40.5 54.969 368.873)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						A
					</text>
					<text transform="rotate(47.2 59.768 339.252)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						N
					</text>
					<text transform="matrix(.59 .8 -.8 .59 279.93 79.51)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						T
					</text>
					<text transform="matrix(.5 .87 -.87 .5 289.83 93.33)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						E
					</text>
					<text transform="rotate(67.96 68.775 275.118)" font-size="22.28" font-family="SofiaProSoftRegular,Sofia Pro Soft">
						E
					</text>
					<text transform="rotate(11.07 -726.491 688.344)" font-size="18.8" font-family="SofiaProSoftBold,Sofia Pro Soft" fill="#ffffff">
						AL<tspan y="0" x="21.35" letter-spacing="-.06em">L</tspan><tspan y="0" x="29.55" letter-spacing="-.01em">-</tspan><tspan y="0" x="38.46">SE</tspan><tspan y="0" x="59.83" letter-spacing="0">A</tspan><tspan y="0" x="71.76">SON</tspan>
					</text>
					<text transform="rotate(11.07 -837.162 677.61)" font-size="18.8" font-family="SofiaProSoftBold,Sofia Pro Soft" fill="#ffffff">
						G<tspan y="0" x="14.08" letter-spacing="-.01em">U</tspan><tspan y="0" x="26.75" letter-spacing="0">A</tspan><tspan y="0" x="38.78" letter-spacing="-.01em">R</tspan><tspan y="0" x="50.43">ANTEE</tspan>
					</text>
					<path d="M215.46 145.36a2 2 0 01.32 2.93l-48.46 55.52a4.23 4.23 0 01-6.51.06l-20.59-24.22a2 2 0 01.47-3l6-3.74a2 2 0 012.64.48l12.28 15.89a2 2 0 003.28-.16l33.57-53.6a2 2 0 012.89-.55z" fill="#0fb8a1" stroke-width="3.48" stroke-miterlimit="10" stroke="#000000"/>
				</g>
			</g>
		</svg>
	</div>
	{%- render 'rich-text',
		show_image: show_image, section_id: section_id, text_position: text_position, top_image: top_image, top_image_width: top_image_width,
		subheading: subheading, heading: heading, text: text, button_text: button_text, button_url: button_url, button_style: button_style,
		secondary_button_text: secondary_button_text, secondary_button_url: secondary_button_url, secondary_button_style: secondary_button_style -%}
</section>

{% schema %}
{
		"name": "Rich text",
		"class": "rich-text",
		"settings": [
			{
				"type": "header",
				"content": "Layout"
			},
			{
				"type": "select",
				"id": "text_position",
				"label": "Text position",
				"default": "center",
				"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "right",
						"label": "Right"
					}
				]
			},
			{
				"type": "header",
				"content": "Image"
			},
			{
				"type": "image_picker",
				"id": "top_image",
				"label": "Image"
			},
			{
				"type": "range",
				"id": "top_image_width",
				"label": "Custom image width (in pixels)",
				"min": 50,
				"max": 500,
				"default": 100,
				"step": 10,
				"unit": "px"
			},
			{
				"type": "header",
				"content": "Text"
			},
			{
				"type": "text",
				"id": "subheading",
				"label": "Subheading",
				"default": "Subheading"
			},
			{
				"type": "text",
				"id": "heading",
				"label": "Heading",
				"default": "Our Story"
			},
			{
				"type": "richtext",
				"id": "text",
				"label": "Text",
				"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
			},
			{
				"type": "header",
				"content": "Buttons"
			},
			{
				"type": "text",
				"id": "button_text",
				"label": "Button text",
				"default": "Learn More"
			},
			{
				"type": "url",
				"id": "button_url",
				"label": "Button link"
			},
			{
				"type": "select",
				"id": "button_style",
				"label": "Button style",
				"default": "primary",
				"options": [
					{ "label": "Primary", "value": "primary" },
					{ "label": "Secondary", "value": "secondary" }
				]
			},
			{
				"type": "text",
				"id": "secondary_button_text",
				"label": "Second button text"
			},
			{
				"type": "url",
				"id": "secondary_button_url",
				"label": "Second button link"
			},
			{
				"type": "select",
				"id": "secondary_button_style",
				"label": "Second button style",
				"default": "secondary",
				"options": [
					{ "label": "Primary", "value": "primary" },
					{ "label": "Secondary", "value": "secondary" }
				]
			}
		]
}
{% endschema %}