<style>
  .parallax-mirror.parallax2 {
    background-image:url("{{ section.settings.image2 | img_url:'master' }}");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 520px;
    width:100%;
    padding:0;
}
</style>
  
{%- comment -%} /sections/featured-image.liquid {%- endcomment -%}

{%- assign enable_parallax = section.settings.enable_parallax -%}
{%- assign image = section.settings.image -%}
{%- assign image_position = section.settings.image_position -%}
{%- assign image_bg_pos = image_position | prepend: 'bg-pos-' -%}
{%- assign image_height = section.settings.image_height -%}
{%- assign title = section.settings.title -%}
{%- assign subheading = section.settings.subheading -%}
{%- assign button_text = section.settings.button_text -%}
{%- assign button_link = section.settings.button_link -%}
{%- assign button_style = section.settings.button_style -%}
{%- if button_link != blank -%}
	{%- assign button_link =  button_link  -%}
{%- else -%}
	{%- assign button_link = "#!" -%}
{%- endif -%}
{%- assign overlay_opacity = section.settings.overlay_opacity | times: 0.01 | round: 2 -%}
{%- assign text_position = section.settings.text_position -%}

{%- assign image_aspect_ratio = image.aspect_ratio -%}
{%- unless image_aspect_ratio -%}
	{%- assign image_aspect_ratio = 1.66 -%}
{%- endunless -%}
{%- assign image_padding_top = 1 | divided_by: image_aspect_ratio | times: 100 | round: 1 -%}

{%- capture featured_image -%}
	{%- unless image == blank -%}
		<div
			class="featured-image__bg {{ image_bg_pos }} lazyload"
			data-bgset="{% render 'bgset', image: image %}"
			data-sizes="auto"
			data-parent-fit="cover"
		></div>
		<noscript>
			<div class="featured-image__bg {{ image_bg_pos }} {% if enable_parallax %}fixed_enb {% endif %}" style="background-image: url('{{ image | img_url:'2048x' }}');{% if enable_parallax %}background-attachment: fixed;{% endif %}"></div>
		</noscript>
	{%- else -%}
		<div class="featured-image__bg featured-image__bg--placeholder {{ image_bg_pos }}">
			{{- 'image' | placeholder_svg_tag: 'placeholder-svg-filled' -}}
		</div>
	{%- endunless -%}
{%- endcapture -%}

{%- capture featured_content -%}
	<div class="featured-image-section-inner js-section-content">
		<div class="wrapper wrapper--small">
			{%- if title != blank -%}
				<h1 class="slide__heading main-heading">{{ title | escape }}</h1>
			{%- endif -%}
			{%- if subheading != blank -%}
				<h2 class="slide__caption main-subheading">{{ subheading | escape }}</h2>
			{%- endif -%}
			{%- if button_text != blank -%}
				<a class="btn btn--{{ button_style }} call-to-action" href="{{ button_link }}">{{ button_text | escape }}</a>
			{%- endif -%}
		</div>
	</div>
{%- endcapture -%}

{%- if image != blank -%}
	{%- assign img_object = image -%}
	{%- assign img_small = image | img_url: '18x' -%}
	{%- assign img_api = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{%- else -%}
	{%- assign img_object = 'blank.svg' | asset_url -%}
	{%- assign img_small = 'blank.svg' | asset_url -%}
	{%- assign img_api = 'blank.svg' | asset_url -%}
{%- endif -%}

{%- comment -%}
	Fix parallax background image overlapping the other sections
{%- endcomment -%}
{%- if enable_parallax -%}
{%- assign color_body_bg = settings.color_body_bg -%}
{%- if color_body_bg == 'rgba(0,0,0,0)' -%}
	{%- assign color_body_bg = '#fff' -%}
{%- endif -%}
<style>
#PageContainer .shopify-section { position: relative; background: {{ color_body_bg }}; }
#PageContainer .shopify-section > div:not(.featured-image-section),
#PageContainer .shopify-section > section:not(.featured-image-section) { position: relative; z-index: 1; }
</style>
{%- endif -%}

<div class="{% if enable_parallax %} fixed_im {% endif %} featured-image-section featured-image-section--{{ section.id }} {{ image_height }} {%- if image == blank -%}featured-image-section--placeholder{% endif %} {{ text_position }} {{ section.settings.text_color }} js-section-container"
	id="featured-image--{{ section.id }}"
	data-section-id="{{ section.id }}"
	data-section-type="featured-image"
	data-aspect-ratio="{{ image.aspect_ratio | default: 1.66 }}"
	{% if enable_parallax %}
		data-parallax-src="{{ img_small }}"
		data-src="{{ img_api }}"
		data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
		data-aspectratio="{{ image.aspect_ratio }}"
		data-sizes="auto"
		data-image-position="{{ image_position }}"
	{% endif %}
	>
	{%- if image_height == 'original-height' -%}
		<div class="featured-image__container" style="padding-top: {{ image_padding_top }}%;">
		{%- unless enable_parallax -%}
			{{- featured_image -}}
		{%- endunless -%}
		</div>
	{%- else -%}
		{%- unless enable_parallax -%}
			{{- featured_image -}}
		{%- endunless -%}
	{%- endif -%}

	<div class="overlay" style="opacity:{{ overlay_opacity }};"></div>

	{{- featured_content -}}
</div>

<div class="mobile_img {% if enable_parallax %} fixed_im {% endif %}">
  <div class="featured-image-section2" >
    <div class="parallax-mirror parallax2">
      <div class="overlay" style="opacity:{{ overlay_opacity }};"></div>
    </div>
     {{- featured_content -}}
</div>
</div>
{% schema %}
	{
	"name": "Featured image",
	"class": "transparent-header",
	"settings": [
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "image_height",
			"label": "Height",
			"default": "one-hundred-height-hero",
			"options": [
			{
					"value": "one-hundred-height-hero",
					"label": "Full screen"
				},
				{
					"value": "original-height",
					"label": "Original"
				},
				{
					"value": "seven-fifty-height-hero",
					"label": "750px"
				},
				{
					"value": "sixty-fifty-height-hero",
					"label": "650px"
				},
				{
					"value": "five-fifty-height-hero",
					"label": "550px"
				},
				{
					"value": "four-fifty-height-hero",
					"label": "450px"
				}
			]
		},
		{
			"type": "select",
			"id": "text_position",
			"label": "Content alignment",
			"default": "center-center",
			"options": [
				{
					"value": "top-left",
					"label": "Top left"
				},
				{
					"value": "top-center",
					"label": "Top center"
				},
				{
					"value": "top-right",
					"label": "Top right"
				},
				{
					"value": "center-center",
					"label": "Center"
				},
				{
					"value": "bottom-left",
					"label": "Bottom left"
				},
				{
					"value": "bottom-center",
					"label": "Bottom center"
				},
				{
					"value": "bottom-right",
					"label": "Bottom right"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "enable_parallax",
			"label": "Enable parallax",
			"default": false
		},
		{
			"type": "header",
			"content": "Image"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
        {
			"type": "image_picker",
			"id": "image2",
			"label": "Mobile Image"
		},
		{
			"type": "select",
			"label": "Position",
			"id": "image_position",
			"default": "center-center",
			"options": [
				{ "label": "Top", "value": "center-top" },
				{ "label": "Right", "value": "right-center" },
				{ "label": "Center", "value": "center-center" },
				{ "label": "Left", "value": "left-center" },
				{ "label": "Bottom", "value": "center-bottom" }
			]
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"label": "Overlay opacity",
			"min": 0,
			"max": 95,
			"step": 5,
			"unit": "%",
			"default": 20
		},
		{
			"type": "header",
			"content": "Text"
		},
		{
			"type": "select",
			"id": "text_color",
			"label": "Color",
			"default": "text-light",
			"options": [
				{
					"value": "text-light",
					"label": "Light"
				},
				{
					"value": "text-dark",
					"label": "Dark"
				}
			]
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Welcome to Palo Alto"
		},
		{
			"type": "textarea",
			"id": "subheading",
			"label": "Subheading",
			"default": "Describe in a few words your special products, collection, or brand."
		},
		{
			"type": "header",
			"content": "Button"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Text"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Link"
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Style",
			"default": "primary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Secondary", "value": "secondary" }
			]
		}
	]
}
{% endschema %}
