{%- comment -%} Product Feature {%- endcomment -%}

{%- comment -%} Layout {%- endcomment -%}
{%- assign section_id = section.id -%}
{%- assign image_position = section.settings.image_position -%}
{%- assign image_layout = section.settings.image_layout -%}
{%- assign text_position = section.settings.text_position -%}
{%- assign text_alignment = section.settings.text_alignment -%}

{%- comment -%} Text {%- endcomment -%}
{%- assign heading = section.settings.heading -%}
{%- assign description = section.settings.description -%}
{%- assign line_color = section.settings.line_color -%}

{%- comment -%} Button {%- endcomment -%}
{%- assign button_text = section.settings.button_text -%}
{%- assign button_link = section.settings.button_link -%}
{%- assign button_style = section.settings.button_style -%}

{%- comment -%} Images {%- endcomment -%}
{%- assign image_1 = section.settings.image_1 -%}
{%- assign image_2 = section.settings.image_2 -%}
{%- assign image_link_1 = section.settings.image_link_1 -%}
{%- assign image_link_2 = section.settings.image_link_2 -%}
{%- assign hide_image_2 = section.settings.hide_image_2 -%}

<div data-section-id="{{ section.id }}" data-section-type="product-feature">
	<div class="wrapper">
		{%- render 'product-feature',
			section_id: section_id, image_position: image_position, image_layout: image_layout, text_position: text_position,
			text_alignment: text_alignment, heading: heading, description: description, line_color: line_color,
			button_text: button_text, button_link: button_link, button_style: button_style, image_1: image_1, image_2: image_2,
			image_link_1: image_link_1, image_link_2: image_link_2, hide_image_2: hide_image_2 -%}
	</div>
</div>

{% schema %}
{
	"name": "Product feature",
	"class": "product-feature-section",
	"settings": [
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "image_layout",
			"label": "Image layout",
			"default": "square",
			"options": [
				{ "label": "Square", "value": "square" },
				{ "label": "Portrait", "value": "portrait" }
			]
		},
		{
			"type": "select",
			"id": "image_position",
			"label": "Image position",
			"info": "Affects the second image in this section.",
			"default": "inline",
			"options": [
				{ "label": "Inline", "value": "inline" },
				{ "label": "Overlapping", "value": "overlapping" }
			]
		},
		{
			"type": "select",
			"id": "text_position",
			"label": "Text position",
			"default": "right",
			"options": [
				{ "label": "Left", "value": "left" },
				{ "label": "Right", "value": "right" }
			]
		},
		{
			"type": "select",
			"id": "text_alignment",
			"label": "Text alignment",
			"default": "center",
			"options": [
				{ "label": "Center", "value": "center" },
				{ "label": "Left", "value": "left" }
			]
		},
		{
			"type": "header",
			"content": "Images"
		},
		{
			"type": "image_picker",
			"id": "image_1",
			"label": "Image"
		},
		{
			"type": "url",
			"id": "image_link_1",
			"label": "Image link"
		},
		{
			"type": "image_picker",
			"id": "image_2",
			"label": "Second image"
		},
		{
			"type": "url",
			"id": "image_link_2",
			"label": "Second image link"
		},
		{
			"type": "checkbox",
			"id": "hide_image_2",
			"label": "Hide on mobile",
			"default": false
		},
		{
			"type": "header",
			"content": "Text"
		},
		{
			"type": "textarea",
			"id": "heading",
			"label": "Heading",
			"default": "This is a heading for a Product feature block."
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Use this text to share information about the point put forth above. Describe a product, your brand, or what makes you special.</p>"
		},
		{
			"type": "header",
			"content": "Button"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Text"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Link"
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Style",
			"default": "primary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Secondary", "value": "secondary" }
			]
		}
	],
	"presets": [
		{
			"name": "Product feature",
			"category": "Product"
		}
	]
}
{% endschema %}
