{%- comment -%} /sections/product-template {%- endcomment -%}

{%- assign bg_color = section.settings.bg_color -%}
{%- assign enable_reviews = settings.enable_reviews -%}
{%- assign enable_swatches = settings.color_swatches -%}
{%- assign enable_video_looping = section.settings.enable_video_looping -%}
{%- assign enable_payment_button = section.settings.enable_payment_button -%}
{%- assign enable_tabs_h6 = section.settings.enable_tabs_h6 -%}
{%- assign tab_1 = section.settings.page_tab_1 -%}
{%- assign tab_2 = section.settings.page_tab_2 -%}
{%- assign tab_3 = section.settings.page_tab_3 -%}
{%- assign image_gallery = section.settings.image_gallery -%}
{%- assign product_description_content = product.description -%}
{%- if enable_tabs_h6 -%}
	{%- assign product_description_content = product_description_content | split: '<h6>' | first -%}
{%- endif -%}

{%- comment -%}
Get first variant, or deep linked one
{%- endcomment -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
{%- assign featured_media_id = featured_media.id -%}
{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}

{%- assign sold_out = true -%}
{%- if current_variant.available -%}
	{%- assign sold_out = false -%}
{%- endif -%}

{%- unless bg_color == 'rgba(0,0,0,0)' -%}
	{%- style -%}
		.product--{{ section.id }} { background-color: {{ bg_color }}; }
		.product--{{ section.id }} .input-group__btn { color: {{ bg_color }}; }
		.product--{{ section.id }} .input-group__btn:hover { color: var(--color-text-body); background-color: {{ bg_color }}; }
	{%- endstyle -%}
{%- endunless -%}

<section data-section-type="product-template" data-section-id="{{ section.id }}" data-reviews="{{ enable_reviews }}" data-swatches="{{ enable_swatches }}" class="product-single wrapper product--{{ section.id }}">

	<div class="grid--full">
		<div class="grid__item">

			{%- if section.settings.show_breadcrumbs -%}
				{%- render 'breadcrumbs' -%}
			{%- endif -%}

			<div class="grid">
				{%- comment -%} Product media {%- endcomment -%}
				<div class="grid__item large--one-half product-single__media-wrapper"
					id="ProductPhoto"
					data-gallery="{{ image_gallery }}"
					data-product-single-media-group>
					<div class="product-single__media-slider{% if product.media.size == 1 %} product-single__media-slider--single{% endif %}" data-product-single-media-slider>
						{%- comment -%} Show Featured media first {%- endcomment -%}
						{%- for media in product.media -%}
							{%- if media.id == featured_media_id -%}
								{%- render 'media', media: media, featured_media: featured_media, image_gallery: image_gallery -%}
							{%- endif -%}
						{%- endfor -%}

						{%- comment -%} Loop product media skipping the featured {%- endcomment -%}
						{%- for media in product.media -%}
							{%- if media.id != featured_media_id -%}
								{%- render 'media', media: media, featured_media: featured_media, image_gallery: image_gallery -%}
							{%- endif -%}
						{%- endfor -%}
					</div>

					{%- if first_3d_model -%}
						<button
							aria-label="{{ 'products.product.view_in_space_label' | t }}"
							class="btn btn--ar product-single__view-in-space"
							data-shopify-xr
							data-shopify-model3d-id="{{ first_3d_model.id }}"
							data-shopify-title="{{ product.title | escape }}"
							data-shopify-xr-hidden
						>
							{%- render 'icon-media-model' -%}
							<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
						</button>
					{%- endif -%}

					{%- comment -%} Product Thumbnails {%- endcomment -%}
					{%- if product.media.size > 1 -%}
						<div id="ProductThumbs">
							<div class="product-single__thumbnails" data-product-single-media-thumbs>
								{%- comment -%} Show Featured media thumbnail first {%- endcomment -%}
								{%- for media in product.media -%}
									{%- if media.id == featured_media_id -%}
										{%- render 'media-thumb', media: media, featured_media: featured_media, product_title: product.title -%}
									{%- endif -%}
								{%- endfor -%}

								{%- comment -%} Loop product media skipping the featured media thumbnail {%- endcomment -%}
								{%- for media in product.media -%}
									{%- if media.id != featured_media_id -%}
										{%- render 'media-thumb', media: media, featured_media: featured_media, product_title: product.title -%}
									{%- endif -%}
								{%- endfor -%}
							</div>
						</div>
					{%- endif -%}
				</div>

				{%- comment -%} Product Description {%- endcomment -%}
				<div class="grid__item large--one-half text-left">
					<div class="product-description-wrapper">
						{%- if section.settings.show_vendor -%}
							<p class="product-vendor">{{ product.vendor }}</p>
						{%- endif -%}

						<h1 class="product-title">{{ product.title | escape }}</h1>

						{%- if enable_reviews or settings.enable_yotpo and settings.yotpo_ID != '' -%}
							{%- if settings.enable_yotpo and settings.yotpo_ID != '' -%}
								<div class="product__badge product__badge--yotpo">
									<div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
								</div>
							{%- elsif enable_reviews -%}
								<div class="product__badge">
									<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
								</div>
							{%- endif -%}
						{%- endif -%}

						<div class="product-form__wrapper" data-product-form-wrapper>

							{%- comment -%} Product Form Snippet {%- endcomment -%}
							{%- render 'product-form', product: product, current_variant: current_variant, enable_swatches: enable_swatches, enable_payment_button: enable_payment_button -%}

							{%- if settings.show_newsletter -%}
								{%- render 'notification-form', sold_out: sold_out, product_title: product.title, product_id: product.id -%}
							{%- endif -%}
						</div>

						{%- comment -%} Surface pickup availability {%- endcomment -%}
						<div class="product-single__store-availability-container{% if section.settings.text_alignment == 'text-center' %} store-availability-container--center{% endif %}" data-store-availability-container>
						</div>

						{%- comment -%}
							Product Description and product tabs
						{%- endcomment -%}
						<div class="product-description rte">
							<p> {{ product_description_content }}</p>
						</div>

						{%- if template != 'index' -%}
							{%- render 'product-tabs',
								product: product, enable_reviews: enable_reviews, enable_tabs_h6: enable_tabs_h6,
								tab_1: tab_1, tab_2: tab_2, tab_3: tab_3 -%}
						{%- endif -%}

						{%- comment -%}
							Social Icons
						{%- endcomment -%}
						<div class="featured-product-social-wrapper">
							{%- if section.settings.enable_social_sharing_products -%}
								{%- render 'social-sharing', product: product  -%}
							{%- endif -%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="application/json" id="ProductJson-{{ section.id }}">{{ product | json }}</script>
<script type="application/json" id="ModelJson-{{ section.id }}">{{ product.media | where: 'media_type', 'model' | json }}</script>

{%- render 'block-sections' -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}

{% schema %}
{
	"name": "Product pages",
	"settings": [
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background",
			"default": "#fff"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "checkbox",
			"id": "show_breadcrumbs",
			"label": "Show breadcrumbs",
			"default": true
		},
		{
			"type": "select",
			"id": "image_gallery",
			"label": "Image gallery",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "zoom",
					"label": "Hover to zoom"
				},
				{
					"value": "lightbox",
					"label": "Lightbox"
				}
			],
			"default": "zoom"
		},
		{
			"type": "checkbox",
			"id": "enable_social_sharing_products",
			"label": "Show social sharing buttons",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"label": "Show vendor",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "hide_quantity",
			"label": "Hide quantity",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "enable_payment_button",
			"label": "Show dynamic checkout button",
			"info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
			"default": true
		},
		{
			"type": "header",
			"content": "Tabs"
		},
		{
			"type": "checkbox",
			"id": "enable_tabs_h6",
			"label": "Enable description H6",
			"info": "Heading 6 titles will be converted to tab headings, tab content will be everything between the Heading 6 titles. [Product Tabs Documentation](https://palo-alto.helpscoutdocs.com/article/181-how-to-set-up-global-and-unique-product-tabs).",
			"default": false
		},
		{
			"type": "paragraph",
			"content": "You have the option to enable three extra tabs for more information on your product."
		},
		{
			"type": "page",
			"id": "page_tab_1",
			"label": "Tab one"
		},
		{
			"type": "page",
			"id": "page_tab_2",
			"label": "Tab two"
		},
		{
			"type": "page",
			"id": "page_tab_3",
			"label": "Tab three"
		},
		{
			"type": "header",
			"content": "Media",
			"info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
		},
		{
			"type": "checkbox",
			"id": "enable_video_looping",
			"label": "Enable video looping",
			"default": false
		}
	],
	"blocks": [
		{
			"name": "Banner",
			"type": "banner",
			"limit": 2,
			"settings": [
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "select",
					"id": "height",
					"label": "Height",
					"options": [
						{
							"value": "one-hundred",
							"label": "Full screen"
						},
						{
							"value": "original-height",
							"label": "Original"
						},
						{
							"value": "big",
							"label": "750px"
						},
						{
							"value": "normal",
							"label": "650px"
						},
						{
							"value": "small",
							"label": "550px"
						}
					],
					"default": "normal"
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Content alignment",
					"default": "center",
					"options": [
						{ "label": "Left", "value": "left" },
						{ "label": "Center", "value": "center" },
						{ "label": "Right", "value": "right" },
						{ "label": "Bottom left", "value": "bottom-left" },
						{ "label": "Bottom right", "value": "bottom-right" }
					]
				},
				{
					"type": "header",
					"content": "Image"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"label": "Overlay opacity",
					"step": 5,
					"max": 95,
					"min": 0,
					"unit": "%",
					"default": 20
				},
				{
					"type": "header",
					"content": "Text"
				},
				{
					"type": "select",
					"id": "text_color",
					"label": "Color",
					"default": "text-light",
					"options": [
						{
							"value": "text-light",
							"label": "Light"
						},
						{
							"value": "text-dark",
							"label": "Dark"
						}
					]
				},
				{
					"type": "text",
					"id": "subheading",
					"label": "Subheading"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Welcome to Palo Alto"
				},
				{
					"type": "textarea",
					"id": "text",
					"label": "Text",
					"default": "A unique layout with a striking design"
				}
			]
		},
		{
			"name": "Product feature",
			"type": "product-feature",
			"settings": [
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "select",
					"id": "image_layout",
					"label": "Image layout",
					"default": "square",
					"options": [
						{ "label": "Square", "value": "square" },
						{ "label": "Portrait", "value": "portrait" }
					]
				},
				{
					"type": "select",
					"id": "image_position",
					"label": "Image position",
					"info": "Affects the second image in this section.",
					"default": "inline",
					"options": [
						{ "label": "Inline", "value": "inline" },
						{ "label": "Overlapping", "value": "overlapping" }
					]
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Text position",
					"default": "right",
					"options": [
						{ "label": "Right", "value": "right" },
						{ "label": "Left", "value": "left" }
					]
				},
				{
					"type": "select",
					"id": "text_alignment",
					"label": "Text alignment",
					"default": "center",
					"options": [
						{ "label": "Center", "value": "center" },
						{ "label": "Left", "value": "left" }
					]
				},
				{
					"type": "header",
					"content": "Images"
				},
				{
					"type": "image_picker",
					"id": "image_1",
					"label": "Image"
				},
				{
					"type": "url",
					"id": "image_link_1",
					"label": "Image link"
				},
				{
					"type": "image_picker",
					"id": "image_2",
					"label": "Second image"
				},
				{
					"type": "url",
					"id": "image_link_2",
					"label": "Second image link"
				},
				{
					"type": "checkbox",
					"id": "hide_image_2",
					"label": "Hide on mobile",
					"default": false
				},
				{
					"type": "header",
					"content": "Text"
				},
				{
					"type": "textarea",
					"id": "heading",
					"label": "Heading",
					"default": "This is a heading for a Product feature block."
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Use this text to share information about the point put forth above. Describe a product, your brand, or what makes you special.</p>"
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Text"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Style",
					"default": "primary",
					"options": [
						{ "label": "Primary", "value": "primary" },
						{ "label": "Secondary", "value": "secondary" }
					]
				}
			]
		},
		{
			"name": "Rich text",
			"type": "rich-text",
			"settings": [
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Text position",
					"default": "center",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				},
				{
					"type": "header",
					"content": "Image"
				},
				{
					"type": "image_picker",
					"id": "top_image",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "top_image_width",
					"label": "Custom image width (in pixels)",
					"min": 50,
					"max": 500,
					"default": 100,
					"step": 10,
					"unit": "px"
				},
				{
					"type": "header",
					"content": "Text"
				},
				{
					"type": "text",
					"id": "subheading",
					"label": "Subheading",
					"default": "Subheading"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Our Story"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
				},
				{
					"type": "header",
					"content": "Buttons"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text",
					"default": "Learn More"
				},
				{
					"type": "url",
					"id": "button_url",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Button style",
					"default": "primary",
					"options": [
						{ "label": "Primary", "value": "primary" },
						{ "label": "Secondary", "value": "secondary" }
					]
				},
				{
					"type": "text",
					"id": "secondary_button_text",
					"label": "Second button text"
				},
				{
					"type": "url",
					"id": "secondary_button_url",
					"label": "Second button link"
				},
				{
					"type": "select",
					"id": "secondary_button_style",
					"label": "Second button style",
					"default": "secondary",
					"options": [
						{ "label": "Primary", "value": "primary" },
						{ "label": "Secondary", "value": "secondary" }
					]
				}
			]
		},
		{
			"name": "Image with text",
			"type": "image-with-text",
			"settings": [
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "select",
					"id": "section_height",
					"label": "Height",
					"default": "sixty-fifty-height-hero",
					"options": [
						{
							"value": "one-hundred-height-hero",
							"label": "Full screen"
						},
						{
							"value": "seven-fifty-height-hero",
							"label": "750px"
						},
						{
							"value": "sixty-fifty-height-hero",
							"label": "650px"
						},
						{
							"value": "five-fifty-height-hero ",
							"label": "550px"
						},
						{
							"value": "four-fifty-height-hero",
							"label": "450px"
						}
					]
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Block position",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				},
				{
					"type": "header",
					"content": "Image"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "checkbox",
					"id": "image_background",
					"label": "Set image as a background",
					"default": false
				},
				{
					"type": "select",
					"id": "bg_position",
					"label": "Position",
					"default": "center-center",
					"options": [
						{ "label": "Top", "value": "center-top" },
						{ "label": "Right", "value": "right-center" },
						{ "label": "Center", "value": "center-center" },
						{ "label": "Left", "value": "left-center" },
						{ "label": "Bottom", "value": "center-bottom" }
					]
				},
				{
					"type": "header",
					"content": "Text"
				},
				{
					"type": "text",
					"id": "subheading",
					"label": "Subheading",
					"default": "Subheading"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Our Story"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Text",
					"default": "Learn More"
				},
				{
					"type": "url",
					"id": "button_url",
					"label": "Link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Style",
					"default": "primary",
					"options": [
						{ "label": "Primary", "value": "primary" },
						{ "label": "Secondary", "value": "secondary" }
					]
				},
				{
					"type": "header",
					"content": "Video button"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Link",
					"accept": ["youtube", "vimeo"]
				}
			]
		}
	]
}
{% endschema %}

{% if product.metafields.loox.num_reviews %}
<script id="looxSchemaJson" type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Product",
	"@id": {{ canonical_url | json }},
	"aggregateRating": {
		"@type": "AggregateRating",
		"ratingValue": "{{ product.metafields.loox.avg_rating }}",
		"reviewCount": "{{ product.metafields.loox.num_reviews }}"
	},
	"name": {{ product.title | json }}
}
</script>
{% endif %}


	<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>