<div class="wrapper">
 <h4 class="featured-collection__heading text-center2">You May Also Like</h4>
  <div class="featured-collection__container2 container-related-product">
     <div class="featured-collection2">
    {% for block in section.blocks %}
  	  {% assign product = all_products[block.settings.product] %}
     
		{%- render 'product-grid-item',
        product: product, enable_swatches: enable_swatches, enable_reviews: enable_reviews, enable_carousel: enable_carousel,
        show_review_stars: show_review_stars, product_grid_slideshow: product_grid_slideshow -%}
      
      {% endfor %}
       </div>
  </div>
</div>

{% schema %}
  {
    "name": "Related Product",
    "settings": [],
    "blocks": [
    {
      "type": "Product",
      "name": "Related Product",
      "settings": [
        {
        "type": "product",
        "id": "product",
        "label": "Related Product"
        }]
     }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
