{%- assign heading = section.settings.title -%}
{%- assign text = section.settings.text -%}
{%- assign button_text = section.settings.button_text -%}
{%- assign button_url = section.settings.button_url -%}
{%- assign button_style = section.settings.button_style -%}
{%- assign image_desktop = section.settings.image_desktop -%}
{%- assign image_mobile = section.settings.image_mobile -%}

<section data-section-id="{{ section.id }}" class="image-col-layout-v2">
  {% if heading != blank %}
    <h2 class="heading">{{section.settings.title}}</h2>  
  {% endif %}
  
  {% if image_desktop != blank %}
    <img src="{{ image_desktop | img_url: '900x'}}" class="">  
  {% endif %}
  
  {%- if button_text != blank -%}
    <div class="rich-text__buttons">
      {%- if button_text != blank -%}
        <a class="btn btn--{{ button_style }}" href="{{ button_url }}">{{ button_text }}</a>
      {%- endif -%}
    </div>
  {%- endif -%}
</section>

{% schema %}
{
    "name": "Image column (Layout 2)",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          { "label": "Primary", "value": "primary" },
          { "label": "Secondary", "value": "secondary" }
        ]
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Image (desktop)"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (mobile)"
      }
    ]
}
{% endschema %}
