
{% comment %} Icons row {% endcomment %}
{%- assign background = section.settings.color_icons_bg -%}
{%- assign color = section.settings.color_icons_text -%}
{%- assign alignment = section.settings.alignment -%}
{%- assign cta_link = section.settings.cta_link -%}
{%- assign cta_label = section.settings.cta_label -%}

<style>
	[data-section-id="{{ section.id }}"] .icons-row--background { color: {{ color }}; background-color: {{ background }}; }
	[data-section-id="{{ section.id }}"] .icons-row__item .icon path { fill: {{ color }}; }
</style>

<section data-section-id="{{ section.id }}" data-section-type="icons-row">
	{%- if section.blocks.size > 0 -%}
		<div class="icons-row--background">
			<div class="wrapper">
				<div class="icons-row__wrapper text-{{ alignment }}">
					<div class="icons-row__slider items--{{ section.blocks.size }}">
						{%- for block in section.blocks -%}
							{%- assign title = block.settings.title -%}
							{%- assign content = block.settings.content -%}
							{%- assign number = block.settings.number -%}
							{%- assign icon = block.settings.icon_name -%}

							<div class="icons-row__item icons-row__item--timeless-designs" {{ block.shopify_attributes }}>
								{%- if number != blank -%}
									<div class="icons-row__number">{{ number }}</div>
								{%- endif -%}

								{%- if title != blank -%}
									<h3 class="icons-row__title">{{ title }}</h3>
								{%- endif -%}

								{%- if content != blank -%}
									<p class="icons-row__content">{{ content }}</p>
								{%- endif -%}
							</div>
						{%- endfor -%}
					</div>
				</div>
			</div>
            {% if cta_label != blank %}
            <div class="icons-row__cta">
                <a href="{{ cta_link }}" class="icons-row__cta-btn btn">{{ cta_label }}</a>
            </div>
            {% endif %}
		</div>
	{%- endif -%}
</section>

{% schema %}
{
	"name": "Icons row",
	"max_blocks": 6,
	"class": "icons-row",
	"settings": [
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "alignment",
			"label": "Alignment",
			"options": [
				{ "label": "Center", "value": "center" },
				{ "label": "Left", "value": "left" }
			],
			"default": "center"
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "color_icons_bg",
			"label": "Background",
			"default": "#fafafa"
		},
		{
			"type": "color",
			"id": "color_icons_text",
			"label": "Text",
			"default": "#333"
		},
        {
			"type": "header",
			"content": "Button"
		},
        {
			"type": "url",
			"id": "cta_link",
			"label": "Button link"
		},
        {
			"type": "text",
			"id": "cta_label",
			"label": "Button text"
		}
	],
	"blocks": [
		{
			"type": "text",
			"name": "Item",
			"settings": [
				{
		  "type": "select",
		  "id": "icon_name",
		  "label": "Icon",
		  "default": "shop",
		  "options": [
			{ "value": "award", "label": "Award" },
			{ "value": "basket", "label": "Basket" },
			{ "value": "ball", "label": "Ball" },
			{ "value": "calendar", "label": "Calendar" },
			{ "value": "camera", "label": "Camera" },
			{ "value": "comment", "label": "Comment" },
			{ "value": "data", "label": "Data" },
			{ "value": "dollar", "label": "Dollar" },
			{ "value": "email", "label": "Email" },
			{ "value": "eye", "label": "Eye" },
			{ "value": "fruits", "label": "Fruits" },
			{ "value": "house", "label": "House" },
			{ "value": "lock", "label": "Lock" },
			{ "value": "money", "label": "Money" },
			{ "value": "phone", "label": "Phone" },
			{ "value": "reload", "label": "Reload" },
			{ "value": "shop", "label": "Shop" },
			{ "value": "sync", "label": "Sync" },
			{ "value": "target", "label": "Target" },
			{ "value": "wallet", "label": "Wallet" }
		  ]
		},
		

        {
            "type": "range",
            "id": "number",
            "min": 1,
            "max": 100,
            "step": 1,
            "label": "Number",
            "default": 50
        },


				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Feature"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Content",
					"default": "Palo Alto is a powerful Shopify theme that will set you apart from the rest with a variety of sections and features."
				}
			]
		}
	]
}
{% endschema %}