{% stylesheet 'scss' %}
.card {
    margin-bottom: 2em;
    background: #ffffff;
}
.placeholder-svg {
    background: #f4f4f4;
}
@media screen and (min-width: 40em) {
    .cards {
        display: flex;
    	flex-flow: row wrap;
      	justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
    }
    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(33.33% - 1em);
    }
}
{% endstylesheet %}


{% if section.blocks.size > 0 %}
<section class="cards cards-{{ section.id }}">
  <h2>{{section.settings.title}}</h2>

  {% for block in section.blocks %}
  <article class="card">
    {% if block.settings.image != blank  %}
        {{ block.settings.image | img_url: '1000x1000', crop: 'center' | img_tag: block.settings.name, 'member-image' }}<br>
    {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </article>
  {% endfor %}

</section> 
{% endif %}




{% schema %}
  {
    "name": "Team Members",
	"max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Image Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}