{%- if section.blocks.size > 0 -%}
	<div class="wrapper">
		{% for block in section.blocks %}
			<div class="image-block-wrapper">
				<h2>{{block.settings.title}}</h2>
				<div class="image-block">
					<img src="{{ block.settings.image | img_url: "325x" }}">
					<div class="we-give__image-overlay">
						<div class="description">{{ block.settings.description }}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{%- endif -%}

{% schema %}
{
	"name": "Image Blocks (Overlay)",
	"max_blocks": 4,
	"settings": [
	],
	"blocks": [
		{
			"type": "image",
			"name": "Slide",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "Square Image (1:1) Required"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Welcome to Palo Alto"
				},
				{
					"type": "text",
					"id": "description",
					"label": "Description",
					"default": "Text Description"
				},
				{
					"type": "color",
					"id": "overlay_colour",
					"label": "label",
					"default": "#FFF",
					"info": "Overlay Background Colour"
				}
			]
		}
	] 
} 
{% endschema %}