{% comment %} Logos List {% endcomment %}

{%- assign heading = section.settings.title -%}
{%- assign blocks_count = section.blocks.size -%}
<div data-section-id="{{ section.id }}" data-section-type="press">
	<div class="wrapper wrapper--small">
		{%- unless heading == blank -%}
			<h4 class="press__heading">{{ heading }}</h4>
		{%- endunless -%}
	</div>

	{%- if blocks_count > 0 -%}
		<div class="press__items" data-count="{{ blocks_count }}">
			{%- for block in section.blocks -%}
				{%- assign text = block.settings.text -%}
				{%- assign image = block.settings.press_logo -%}
				{%- assign link = block.settings.link -%}
				<div class="press__item" {{ block.shopify_attributes }}>
					<div class="wrapper wrapper--small">
						{%- unless text == blank -%}
							{%- if link != blank -%}
								<a href="{{ link }}">{{ text }}</a>
							{%- else -%}
								{{- text -}}
							{%- endif -%}
						{%- endunless -%}
					</div>
				</div>
			{%- endfor -%}
		</div>

		<div class="press__logos press__logos--{{ blocks_count }}">
			<div class="press__logos-slider">
				{%- for block in section.blocks -%}
					{%- assign image = block.settings.press_logo -%}
					<div class="press__logos-slide {% if forloop.index == 1 %}is-selected{% endif %}">
						<div class="press__logo">
							{%- unless image == blank -%}
								{%- assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
								{%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}

								<img class="lazyload press__logo-image"
									src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
									data-src="{{ image_url_pattern }}"
									data-widths="{{ image_widths }}"
									data-aspectratio="{{ image.aspect_ratio }}"
									data-sizes="auto"
									alt="{{ image.alt }}"
									style="width: {{ block.settings.logo_width | append: 'px' }}">
									<noscript>
										<img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt }}" class="press__logo-image" style="width: {{ block.settings.logo_width | append: 'px' }}">
									</noscript>
							{%- else -%}
								{%- capture counter -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
								<div class="press__logo-image--placeholder placeholder-svg--overlayed" style="width: {{ block.settings.logo_width | append: 'px' }}">
									{{- 'product-' | append: counter | placeholder_svg_tag: 'placeholder-svg-filled' -}}
								</div>
							{%- endunless -%}
						</div>
					</div>
				{%- endfor -%}
			</div>
		</div>
	{%- endif -%}
</div>

{% schema %}
{
	"name": "Press",
	"class": "press-section",
	"max_blocks": 5,
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Press"
		}
	],
	"blocks": [
		{
			"name": "Press",
			"type": "press",
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Provide some information about what the company below thinks about your brand.</p>"
				},
				{
					"type": "image_picker",
					"id": "press_logo",
					"label": "Press logo"
				},
				{
					"type": "range",
					"id": "logo_width",
					"label": "Custom logo width (in pixels)",
					"min": 40,
					"max": 180,
					"default": 120,
					"step": 10,
					"unit":"px"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				}
			]
		}
	]
}
{% endschema %}