<section class="featured-content-section" id="we-give__rich-text-2">
	<div class="rt__wrapper">
		<p class="rt-normal">To date, we have donated more than</p>
		<div class="left-fig">
			<div class="rt-number__xlarge">4,200</div>
			<p class="rt-text__large">pairs of rain boots</p>
		</div>
		<div class="rt-and">and</div>
		<div class="right-fig">
			<div class="rt-number__xlarge">725</div>
			<p class="rt-text__large">backpacks & lunchboxes</p>
		</div>
		<p class="rt-normal">to organizations that serve children and families in and around our community.</p>
	</div>
</section>

{% schema %}
{
	"name": "Donation text",
	"class": "rich-text"
}
{% endschema %}