<!-- /sections/rich-text.liquid -->
{%- assign show_image = false -%}
{%- assign section_id = section.id -%}
{%- assign text_position = section.settings.text_position -%}
{%- assign top_image = section.settings.top_image -%}
{%- assign top_image_width = section.settings.top_image_width -%}
{%- assign subheading = section.settings.subheading -%}
{%- assign heading = section.settings.heading -%}
{%- assign text = section.settings.text -%}
{%- assign button_text = section.settings.button_text -%}
{%- assign button_url = section.settings.button_url -%}
{%- assign button_style = section.settings.button_style -%}
{%- assign secondary_button_text = section.settings.secondary_button_text -%}
{%- assign secondary_button_url = section.settings.secondary_button_url -%}
{%- assign secondary_button_style = section.settings.secondary_button_style -%}

<section data-section-id="{{ section.id }}" data-section-type="rich-text" class="featured-content-section" id="featured-content">
	{%- render 'rich-text',
		show_image: show_image, section_id: section_id, text_position: text_position, top_image: top_image, top_image_width: top_image_width,
		subheading: subheading, heading: heading, text: text, button_text: button_text, button_url: button_url, button_style: button_style,
		secondary_button_text: secondary_button_text, secondary_button_url: secondary_button_url, secondary_button_style: secondary_button_style -%}
</section>

{% schema %}
{
	"name": "Rich text",
	"class": "rich-text",
	"settings": [
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "text_position",
			"label": "Text position",
			"default": "center",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			]
		},
		{
			"type": "header",
			"content": "Image"
		},
		{
			"type": "image_picker",
			"id": "top_image",
			"label": "Image"
		},
		{
			"type": "range",
			"id": "top_image_width",
			"label": "Custom image width (in pixels)",
			"min": 50,
			"max": 500,
			"default": 100,
			"step": 10,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Text"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading",
			"default": "Subheading"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Our Story"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text",
			"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
		},
		{
			"type": "header",
			"content": "Buttons"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button text",
			"default": "Learn More"
		},
		{
			"type": "url",
			"id": "button_url",
			"label": "Button link"
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"default": "primary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Secondary", "value": "secondary" }
			]
		},
		{
			"type": "text",
			"id": "secondary_button_text",
			"label": "Second button text"
		},
		{
			"type": "url",
			"id": "secondary_button_url",
			"label": "Second button link"
		},
		{
			"type": "select",
			"id": "secondary_button_style",
			"label": "Second button style",
			"default": "secondary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Secondary", "value": "secondary" }
			]
		}
	]
}
{% endschema %}

