/* PAGE - Brand Ambassodors */

.page-width__1200 {
    max-width: 1200px;
    margin: auto;
}

#section__brand-ambassadors {
    padding-top: 0;
    padding-bottom: 0;
}

#shopify-section-brand-ambassadors__featured-image-02,
#shopify-section-brand-ambassadors__featured-image-03,
#shopify-section-brand-ambassadors__featured-image-04,
#shopify-section-brand-ambassadors__featured-image-05,
#shopify-section-brand-ambassadors__featured-image-06 {
    margin-bottom: 1.5rem;
}

.brand-ambassadors__form    {
    /* background-color: #93cfcc; */
    background-color: #77D2CD;
}

/*
.brand-ambassadors__form .wrapper {
    padding: 0;
}
*/

.brand-ambassadors__form .form__heading {
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
}

.brand-ambassadors__form input,
.brand-ambassadors__form textarea {
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px 0;
}

@media screen and (min-width: 768px) {
    .brand-ambassadors__form .brand-ambassadors__wrapper   {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .brand-ambassadors__form .brand-ambassadors__wrapper > *   {
        flex: 1;
    }
}
