body {
    background-image: url({{ 'anippet_2.PNG' | asset_url }});
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  justify-content: center;
}
<style>

nav { display:none; }

header { display:none; }

footer { display:none; }



</style>
