{% assign handle = collection.handle %}

{% case handle %}
  {% when 'rain-boots' %}
    {% section 'collection__featured-image-01' %}
    {% section 'collection__detail-feature-01' %}
    {% section 'collection__featured-image-08' %}
  
  {% when 'matte-rain-boots' %}
    {% section 'collection__featured-image-02' %}
    {% section 'collection__detail-feature-02' %}
    {% section 'collection__featured-image-09' %}

  {% when 'mudboots' %}
    {% section 'collection__featured-image-03' %}
    {% section 'collection__detail-feature-03' %}
    {% section 'collection__featured-image-10' %}
  
  {% when 'standard-lunchbox' %}
    {% section 'collection__featured-image-04' %}
    {% section 'collection__detail-feature-04' %}
    {% section 'collection__featured-image-11' %}
  
  {% when 'x-large-lunchbox' %}
    {% section 'collection__featured-image-15' %}
    {% section 'collection__detail-feature-08' %}
    {% section 'collection__featured-image-16' %}

  {% when 'lunchbag' %}
    {% section 'collection__featured-image-17' %}
    {% section 'collection__detail-feature-09' %}
    {% section 'collection__featured-image-18' %}

  {% when '15-backpack' %}
    {% section 'collection__featured-image-05' %}
    {% section 'collection__detail-feature-05' %}
    {% section 'collection__featured-image-12' %}
  
  {% when '17-backpack' %}
    {% section 'collection__featured-image-06' %}
    {% section 'collection__detail-feature-06' %}
    {% section 'collection__featured-image-13' %}
  
  {% when '3-piece-back-to-school-kit' %}
    {% section 'collection__featured-image-07' %}
    {% section 'collection__detail-feature-07' %}
    {% section 'collection__featured-image-14' %}
  {% else %}
{% endcase %}

{% section 'collection-template-v2' %}