{%- comment -%} templates/page.liquid {%- endcomment -%}
<section class="section">
	<div class="wrapper wrapper--medium">
		<h1 class="page-title text-left">
			{{- page.title -}}
		</h1>
		<div class="rte">
			{{- page.content -}}
		</div>
	</div>
</section>