<style>
body { 
  background-image: url({{ 'thankyou-bg.jpg' | asset_url }}) !important;
  background-repeat: no-repeat !important;
  background-position: center;
}
@media (min-width: 1601px) {
  body {
    background-position: center bottom !important;
    background-size: contain !important;
  }
}
</style>

<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>