<section class="section" id="section__timeless-designs">
    {% section 'timeless-designs__featured-image-01' %}
    {% section 'timeless-designs__rich-text-01' %}
    {% section 'timeless-designs__slideshow-01' %}
    {% section 'timeless-designs__rich-text-02' %}
    {%- comment -%}
    {% section 'timeless-designs__team-01' %}
    {%- endcomment -%}
    {% section 'timeless-designs__blocks' %}
    {% section 'timeless-designs__rich-text-03' %}
    {%- comment -%}
    {% section 'timeless-designs__featured-image-02' %}
    {% section 'timeless-designs__featured-image-03' %}
    {%- endcomment -%} 
    {% section 'timeless-designs__benefits-bar-01' %}
    {% section 'timeless-designs__icons-row-01' %}
</section>