{%- comment -%} templates/page.liquid {%- endcomment -%}
<section class="section section__play-proof">
	{% section 'play-proof__featured-image' %}
	{% section 'play-proof__rich-text' %}
	{% section 'play-proof__blocks' %}
	{% section 'play-proof__rich-text-2' %}
</section>