{%- comment -%}
    /templates/page.contact.liquid
{%- endcomment -%}

{%- comment -%}
    {%- section 'contact-page' -%}
    {%- section 'contact-form' -%}
{%- endcomment -%}

{% section 'contact-us__featured-image-01' %}
{% section 'contact-us__faq-section' %}