{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
{%- comment -%} templates/page.liquid {%- endcomment -%}
<section class="section">
	<div class="wrapper wrapper--medium">
		<h1 class="page-title text-center">
			{{- page.title -}}
		</h1>
		<div class="rte">
			{{- page.content -}}
		</div>
	</div>
</section>
<div id="looxReviews" data-loox-aggregate="" class="loox-reviews-default"></div>