<section class="section" id="section__brand-ambassadors">
    {% section 'brand-ambassadors__featured-image-01' %}
    <div class="page-width__1200">
        {% section 'brand-ambassodors__rich-text-01' %}
        {% section 'brand-ambassadors__featured-image-02' %}   
        {% section 'brand-ambassadors__featured-image-03' %}   
        {% section 'brand-ambassadors__featured-image-04' %}   
        {% section 'brand-ambassadors__featured-image-05' %}   
        {% section 'brand-ambassadors__featured-image-06' %} 
    </div> 
    <div class="brand-ambassadors__form">
        <div class="page-width__1200">
            <div class="brand-ambassadors__wrapper">
                {% section 'brand-ambassodors__rich-text-02' %}
                {% section 'brand-ambassodors__contact-form' %}
            </div>
        </div>
    </div>
</section>