<section class="section" id="section__warranty-claim">
    {% section 'warranty-claim__rich-text-01' %}

    {%- comment -%}
    {% section 'warranty-claim__rich-text-03' %}
    {%- endcomment -%}
    
    {% section 'warranty-claim__faq-section' %}

    {%- comment -%}
    <div class="page-width__768">
        {{- page.content -}}
    </div>
    {%- endcomment -%}

    <div class="warranty-claim-form page-width__1200">
        {% form 'contact' %}
    
            {% if form.posted_successfully? %}
            <p class="success-msg">Thanks for contacting us! We'll get back to you as soon as possible.</p>
            {% endif %}

            {% if form.errors %}
            <p class="error-msg">
                <ul class="error-list" style="color:#E0360F">
                {% for field in form.errors %}
                    {% if field == 'body' %}
                    <li>Your message cannot be blank.</li>
                    {% endif %}
                    {% if field == 'email' %}
                    <li>Please enter a valid email address.</li>
                    {% endif %}        
                {% endfor %}
                </ul>
            </p>
            {% endif %}
                <ul id="warranty-claim-form__list">
                    <li class="clearfix type-text">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="contact[first_name]" />
                    </li>
                    <li class="clearfix type-text">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="contact[last_name]" />
                    </li>
                    <li class="clearfix type-text{% if form.errors contains 'email' %} has-error{% endif %}">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="email" name="contact[email]" />
                    </li>
                    <li class="clearfix type-text">
                        <label for="amazonOrderID">Amazon Order ID</label>
                        <input type="text" id="amazonOrderID" name="contact[amazon_order_ID]" />
                    </li>
                    <li class="clearfix type-textarea{% if form.errors contains 'body' %} has-error{% endif %}">
                        <label for="message">Claim Details*</label>
                        <textarea id="message" name="contact[body]" placeholder="Describe the reasonfor your warranty claim. *" rows="10"></textarea>
                    </li>
                    <li class="clearfix type-submit">
                        <input type="submit" class="submit btn" value="Send" />
                    </li>
                </ul>
    {% endform %}
    </div>

    {% section 'warranty-claim__rich-text-02' %}
</section>