{% assign handle = page.handle %}

{% case handle %}
  {% when 'tabby-powell' %}
    {% section 'ambassador-profile-tabby-powell' %}
  {% when 'robin-lloyd' %}
    {% section 'ambassador-profile-robin-lloyd' %}
{% when 'kelsie-stevens' %}
    {% section 'ambassador-profile-kelsie-stevens' %}
{% when 'charissa-harvey' %}
    {% section 'ambassador-profile-charissa-harvey' %}
{% when 'rachna-patel' %}
    {% section 'ambassador-profile-rachna-patel' %}   
  {% else %}
{% endcase %}