<section class="section" id="section__advisory-panel">
    {% section 'advisory-panel__featured-image-01' %}
    {% section 'advisory-panel__rich-text-01' %}
    {% section 'advisory-panel__icons-row-01' %}
    {% section 'advisory-panel__rich-text-02' %}
    {% section 'advisory-panel__benefits-bar-01' %}
    {% section 'advisory-panel__contact-form' %}
</section>