<style>
body { 
  background-image: url({{ 'anippet_2.PNG' | asset_url }}) !important;
  background-position: center top !important;
}
#PageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#shopify-section-announcement-bar {
  display: none;
}
</style>

 {{ 'newtemplate.css'         | asset_url | stylesheet_tag }}

<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>