{%- comment -%} templates/page.liquid {%- endcomment -%}
<section class="section section__we-give">
	{% section 'we-give__featured-image' %}
	{% section 'we-give__rich-text' %}
	{% section 'we-give__image-overlays' %}
	{% section 'we-give__rich-text-2' %}
	{% section 'we-give__press' %}
</section>