{%- comment -%} templates/page.liquid {%- endcomment -%}
<section class="section" id="section__our-story">
	{% section 'our-story__featured-image' %}
    {% section 'our-story__rich-text' %}
    {% section 'our-story__featured-image-2' %}
    {% section 'our-story__timeless-designs' %}
    {% section 'our-story__year-in-review' %}
    {% section 'our-story__image-text-slider' %}
</section>